<htm>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="https://cdn.rawgit.com/calipho-sib/nextprot-js/v0.0.23/dist/nextprot.min.js"></script>
<style>
table.layout { 
border-spacing: 0;
border-collapse: collapse;
width: 100%;
}
</style>
</head>
<body>
<table class="layout">
<tr>
<td width="80%">

 <div id="plot" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

</td>
<td>
<div><h3>Requête associée</h3>
<pre>SELECT ?pe count(?entry) as ?cnt WHERE {
?entry :family / :description ?pe . 
?entry :isoform / :generalAnnotation / :term / rdfs:label ?label . 
filter (regex(?label, "amylo(id|gen|do)"@en,"i"))} 
group by ?pe order by desc(?cnt)</pre></div>

</td>
</tr>
</table>
 <br />
<br />
<hr />
 <br />
<br />
<table class="layout">
<tr>
<td width="80%">

 <div id="plot3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</td>
<td>
<div><h3>Requête associée</h3>
<pre>SELECT ?pe count(?entry) as ?cnt WHERE {
?entry :family / :description ?pe . 
?entry :isoform /:medical / :term /:related / :childOf* cv:D000686.
} group by ?pe order by desc(?cnt)
</pre></div>

</td>
</tr>
</table>
 <br />
<br />
<hr />
 <br />
<br />
<table class="layout">
<tr>
<td width="80%">

  <div id="plot2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </td>
<td>
<div><h3>Requête associée</h3>
<pre>SELECT ?pe count(?entry) as ?cnt WHERE {
?entry :family / :description ?pe . 
?entry :isoform / :disease / :term / rdfs:label ?label  . 
filter (regex(?label, "amylo(id|gen|do)"@en,"i"))} 
group by ?pe order by desc(?cnt)
</pre></div>

</td>

</tr>
</table>
</body>
  <script type="text/javascript">
      // Create an instance of nextprot API
      var applicationName = "demo app for using SPARQL with protein existence"; 
      var clientInformation = "calipho group at SIB";
      var nx = new Nextprot.Client(applicationName, clientInformation);
      //Define your sparql
      var proteinsByExistenceLevel ='SELECT ?pe count(?entry) as ?cnt ' + 
                                    'WHERE {?entry :family / :description ?pe . ?entry :isoform / :generalAnnotation / :term / rdfs:label ?label . filter (regex(?label, "amylo(id|gen|do)"@en,"i"))} group by ?pe order by desc(?cnt)';
      //Execute the sparql and retrieve result
      nx.executeSparql(proteinsByExistenceLevel).then(function (result){
        var seriesData = [];
        result.results.bindings.map(function (data) {
          seriesData.push([data.pe.value, parseInt(data.cnt.value)]); //gets number of entries
        });
        //Draw the plot
        $('#plot2').highcharts({chart: {type: 'pie',  options3d: { enabled: true, alpha: 45 }},
          title: { text: 'Familles des protéines qui ont une annotation qui mentionne amyloid' },
          plotOptions: {pie: { innerSize: 100,  depth: 45 } },
          series: [{name: 'neXtProt entries count',data: seriesData }]
        });
      });
  </script>
  
    <script type="text/javascript">
      // Create an instance of nextprot API
      var applicationName = "demo app for using SPARQL with protein existence"; 
      var clientInformation = "calipho group at SIB";
      var nx = new Nextprot.Client(applicationName, clientInformation);
      //Define your sparql
      var proteinsByExistenceLevel ='SELECT ?pe count(?entry) as ?cnt ' + 
                                    'WHERE {?entry :family / :description ?pe . ?entry :isoform / :disease / :term / rdfs:label ?label  . filter (regex(?label, "amylo(id|gen|do)"@en,"i"))} group by ?pe order by desc(?cnt)';
      //Execute the sparql and retrieve result
      nx.executeSparql(proteinsByExistenceLevel).then(function (result){
        var seriesData = [];
        result.results.bindings.map(function (data) {
          seriesData.push([data.pe.value, parseInt(data.cnt.value)]); //gets number of entries
        });
        //Draw the plot
        $('#plot').highcharts({chart: {type: 'pie',  options3d: { enabled: true, alpha: 45 }},
          title: { text: 'Familles des protéines directement associées au terme amylose / amyloid' },
          plotOptions: {pie: { innerSize: 100,  depth: 45 } },
          series: [{name: 'neXtProt entries count',data: seriesData }]
        });
      });
  </script>
  
  
   <script type="text/javascript">
      // Create an instance of nextprot API
      var applicationName = "demo app for using SPARQL with protein existence"; 
      var clientInformation = "calipho group at SIB";
      var nx = new Nextprot.Client(applicationName, clientInformation);
      //Define your sparql
      var proteinsByExistenceLevel ='SELECT ?pe count(?entry) as ?cnt ' + 
                                    'WHERE {?entry :family / :description ?pe . ?entry :isoform /:medical / :term /:related / :childOf* cv:D000686.} group by ?pe order by desc(?cnt)';
      //Execute the sparql and retrieve result
      nx.executeSparql(proteinsByExistenceLevel).then(function (result){
        var seriesData = [];
        result.results.bindings.map(function (data) {
          seriesData.push([data.pe.value, parseInt(data.cnt.value)]); //gets number of entries
        });
        //Draw the plot
        $('#plot3').highcharts({chart: {type: 'pie',  options3d: { enabled: true, alpha: 45 }},
          title: { text: 'Familles des protéines associées à amylose ou maladies associées [recherche par ID]' },
          plotOptions: {pie: { innerSize: 100,  depth: 45 } },
          series: [{name: 'neXtProt entries count',data: seriesData }]
        });
      });
  </script>
</html>
