{% extends "layout.jinja2" %}

{% block more_links %}
    <link href="{{request.static_url('amypdb:static/mystyles_purple.css', _scheme='https')}}" rel="stylesheet">
{% endblock %}

{% block content %}

  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
<div class="horizontal-margin">
   <div class="columns">
	 <div class="column is-three-quarters">
        <h1 class="title">Page not found</h1>
        <h2 class="subtitle">Well, you've found that page, but that's probably not what you were looking for...<br /><a href="{{ request.route_url(route_name='home') }}">Click here to find your way back home</a></h2>
      	</div>
	<div class="column">.
	</div>
	</div>
</div>
</div>
  </section>
{% endblock %}