{% extends "layout.jinja2" %}

        {% block title %}Amylome - Documentation{% endblock %}

        {% block more_scripts %}

<script src="{{request.static_url('amypdb:static/bulma-accordion.min.js', _scheme='https')}}"> </script>
        {% endblock %}

        {% block more_links %}
<link href="{{request.static_url('amypdb:static/mystyles_purple.css', _scheme='https')}}" rel="stylesheet"/>
<link href="{{request.static_url('amypdb:static/help.css', _scheme='https')}}" rel="stylesheet"/>
<link href="{{request.static_url('amypdb:static/bulma-accordion.min.css', _scheme='https')}}" rel="stylesheet"/>
        {% endblock %}
        {% block content %}
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="horizontal-margin">
            <div class="columns">
                <div class="column is-three-quarters">
                    <h1 class="title">AMYPdb</h1>
                    <h2 class="subtitle">Here an overview of our data sources.
                    </h2>
                </div>
                <div class="column">.
                </div>
            </div>
        </div>
    </div>
</section>

<section>
  <div class="smallmarg is-fluid ">
    <br/>
    <div class="container ">
      <br/>
      <article class="media">
        <figure class="media-left ">
          <p class="image is-128x128">
            <img src="{{request.static_url('amypdb:static/image_about_data/embl-ebi-logo.jpg', _scheme='https')}}"/>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>EMBL-EBI</strong>
              <span class="icon is-small">
                <a href="https://www.ebi.ac.uk/">
                  <img src="{{request.static_url('amypdb:static/www.svg', _scheme='https')}}"/>
                </a>
              </span>
              <small>MONDO access :</small>
              <span class="icon is-small">
                <a href="https://www.ebi.ac.uk/ols/ontologies/mondo">
                  <img src="{{request.static_url('amypdb:static/www.svg', _scheme='https')}}"/>
                </a>
              </span>
              <small>InterPro access :</small>
              <span class="icon is-small">
                <a href="http://www.ebi.ac.uk/interpro/">
                  <img src="{{request.static_url('amypdb:static/www.svg', _scheme='https')}}"/>
                </a>
              </span>
              <br/>
              We used The Ontology Lookup Service (OLS) which is a repository for biomedical ontologies that aims
              to provide a single point of access to the latest ontology versions. And especially MONDO Disease Ontology
              An ontology that harmonizes multiple disease resources.
              <br/>
              OLS is developed and maintained by EMBL-EBI.
              <br/><br/>
              From EMBL_EBI we also used InterPro which is a resource that provides functional analysis of protein
              sequences by classifying them into families and predicting the presence of domains and important sites.
              To classify proteins in this way, InterPro uses predictive models, known as signatures, provided by
              several different databases (PROSITE, Pfam, CATH ...) that make up the InterPro consortium.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<section>
  <div class="smallmarg is-fluid ">
    <br/>
    <div class="container ">
      <br/>
      <article class="media">
          <figure class="media-left">
            <p class="image is-128x128 ">
              <img src="{{request.static_url('amypdb:static/image_about_data/uniprot_logo.png', _scheme='https')}}"/>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Uniprot </strong>
                <span class="icon is-small">
                  <a href="https://www.uniprot.org"/><img src="{{request.static_url('amypdb:static/www.svg', _scheme='https')}}"/></a>
                </span>
                <br/>
                The mission of UniProt is to provide the scientific community with a comprehensive,
              high-quality and freely accessible resource of protein sequence and functional information.
              </p>
            </div>
          </div>
      </article>
    </div>
  </div>
</section>


<section>
  <div class="smallmarg is-fluid ">
    <br/>
    <div class="container ">
      <br/>
      <article class="media">
        <figure class="media-left">
          <p class="image is-128x128">
            <img src="{{request.static_url('amypdb:static/image_about_data/logo_nextprot.png', _scheme='https')}}"/>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Nextprot </strong>
              <span class="icon is-small">
                <a href="https://www.nextprot.org/"/><img src="{{request.static_url('amypdb:static/www.svg', _scheme='https')}}"/></a>
              </span>
              <br/>
              Developed by the SIB Swiss Institute of Bioinformatics neXtProt is a comprehensive human-centric
            discovery platform, offering its users a seamless integration of and navigation through protein-related data.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<section>
  <div class="smallmarg is-fluid ">
    <br/>
    <div class="container ">
      <br/>
      <article class="media">
        <figure class="media-left">
          <p class="image is-128x128">
            <img src="{{request.static_url('amypdb:static/image_about_data/wwpdb-logo.png', _scheme='https')}}"/>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>PDB </strong>
              <span class="icon is-small">
                <a href="https://www.nextprot.org/"/><img src="{{request.static_url('amypdb:static/www.svg', _scheme='https')}}"/></a>
              </span>
              <br/>
             the Protein Data Bank archive (PDB) has served as the single repository of information about the 3D
            structures of proteins, nucleic acids, and complex assemblies.
              The Worldwide PDB (wwPDB) organization manages the PDB archive and ensures that the PDB is freely
            and publicly available to the global community.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<section>
  <div class="smallmarg is-fluid ">
    <br/>
    <div class="container ">
      <br/>
      <article class="media">
        <figure class="media-left">
          <p class="image is-128x128">
            <img src="{{request.static_url('amypdb:static/image_about_data/logo_disgenet.png', _scheme='https')}}"/>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>DisGeNET </strong>
              <span class="icon is-small">
                <a href="https://www.disgenet.org/"/><img src="{{request.static_url('amypdb:static/www.svg', _scheme='https')}}"/></a>
              </span>
              <br/>
             DisGeNET contain one of the largest publicly available collections of genes and
            variants associated to human diseases .
            DisGeNET integrates data from expert curated repositories, GWAS catalogues, animal models and the scientific
            literature. DisGeNET data are homogeneously annotated with controlled vocabularies and community-driven
            ontologies. Additionally, several original metrics are provided to assist the prioritization of
            genotype–phenotype relationships.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<section>
  <div class="smallmarg is-fluid ">
    <br/>
    <div class="container ">
      <br/>
      <article class="media">
        <figure class="media-left">
          <p class="image is-128x128">
            <img src="{{request.static_url('amypdb:static/image_about_data/OMIM_50_logo_badge.jpg', _scheme='https')}}"/>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>OMIM </strong>
              <span class="icon is-small">
                <a href="https://omim.org/"/><img src="{{request.static_url('amypdb:static/www.svg', _scheme='https')}}"/></a>
              </span>
              <br/>
             OMIM®, Online Mendelian Inheritance in Man®. OMIM is a comprehensive, authoritative compendium of human
            genes and genetic phenotypes that is freely available and updated daily.
            OMIM contain information on all known mendelian disorders and over 15,000 genes.
            It focuses on the relationship between phenotype and genotype
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<section>
  <div class="smallmarg is-fluid ">
    <br/>
    <div class="container ">
      <br/>
      <article class="media">
        <figure class="media-left">
          <p class="image is-128x128">
            <img src="{{request.static_url('amypdb:static/image_about_data/hpo-logo.png', _scheme='https')}}"/>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong> HPO </strong>
              <span class="icon is-small">
                <a href="https://hpo.jax.org/app/"/><img src="{{request.static_url('amypdb:static/www.svg', _scheme='https')}}"/></a>
              </span>
              <br/>
             The Human Phenotype Ontology (HPO) provides a standardized vocabulary of phenotypic abnormalities
            encountered in human disease.The HPO is currently being developed using the medical literature,
            Orphanet, DECIPHER, and OMIM.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<section>
  <div class="smallmarg is-fluid ">
    <br/>
    <div class="container ">
      <br/>
      <article class="media">
        <figure class="media-left">
          <p class="image is-128x128">
            <img src="{{request.static_url('amypdb:static/image_about_data/go-logo.large.png', _scheme='https')}}"/>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong> GO </strong>
              <span class="icon is-small">
                <a href="http://geneontology.org/"/><img src="{{request.static_url('amypdb:static/www.svg', _scheme='https')}}"/></a>
              </span>
              <br/>
             The Gene Ontology (GO) knowledgebase is the world’s largest source of information on the functions of
            genes. This knowledge is both human-readable and machine-readable, and is a foundation for computational
            analysis of large-scale molecular biology and genetics experiments in biomedical research.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
<section>
  <div class="smallmarg is-fluid ">
    <br/>
    <div class="container ">
      <br/>
      <article class="media">
        <figure class="media-left">
          <p class="image is-128x128 ">
            <img src="{{request.static_url('amypdb:static/image_about_data/logo_reactome.png', _scheme='https')}}"/>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong> Reactome </strong>
              <span class="icon is-small">
                <a href="https://reactome.org/"/><img src="{{request.static_url('amypdb:static/www.svg', _scheme='https')}}"/></a>
              </span>
              <br/>
             Reactome is a freely available, open source relational database of signaling and metabolic molecules and
            their relations organized into biological pathways and processes. The core unit of the Reactome data model
            is the reaction. Entities (nucleic acids, proteins, complexes, vaccines, anti-cancer therapeutics and small
            molecules) participating in reactions form a network of biological interactions and are grouped into pathways.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

        {% endblock content %}