{% extends "layout.jinja2" %}


{% block title %}Amypdb - Search Results{% endblock %}


    
    
  {% block more_scripts %}  
      <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>
{% endblock  %}


{% block more_links %}
<!--  <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" /> -->
        <link href="{{request.static_url('amypdb:static/mystyles_bluegreen.css', _scheme='https')}}" rel="stylesheet">

{% endblock %}

{% block content %}


  <section class="hero is-medium is-primary is-bold">
      <div class="horizontal-margin" >
    <div class="hero-body">

      <div class="columns">
         <div class="column is-three-fifths">
        <h1 class="title">{{ title }}</h1>


           </div>
           <div class="column has-text-right"> 
           </div>   
        </div><!-- end columns -->


</div><!-- end hero-body -->

 </section>


<section class="section"> 
         <div class="has-text-centered margin-bottom" >
          <h2 class="title">Amyloïdogenic fragments</h2>
        </div>



        <table id="fragmentTable" class="table is-striped is-fullwidth">
      <thead>
	     <th width="18%">Sequence</th>
        <th width="48%">Annotation</th>
	     <th>Proteins with an isoform containing this sequence</th>
       </thead>
      <tbody>

 {% for item in resultList  %}
 <tr>
<td>{{ item.sequence|safe }}</td>
<td>{{ item.annotInfo|safe }}</td>
<td>{{ item.isoIdList|safe }}</td>
 </tr>

 {% endfor %}

      </tbody>
    </table>





 </section>

 


{% endblock content %}

{% block comp_script %}
<script>
$( document ).ready(function() {


    $('#fragmentTable').dynatable({
  features: {
    paginate: true,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
    }
    });
});
</script>
{% endblock %}

