{% extends "layout.jinja2" %}

{% block title %}Amylome - Contact{% endblock %}

{% block more_links %}
<link href="{{request.static_url('amypdb:static/mystyles_purple.css', _scheme='https')}}" rel="stylesheet">
{% endblock %}

{% block content %}

    <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
            <div class="horizontal-margin">
                <div class="columns">
                    <div class="column is-three-quarters">
                        <h1 class="title">Contact form</h1>
                        <h2 class="subtitle">If you have any questions or suggestions regarding the website TransAmylome, feel free to contact us, we will try to get back to you as soon as possible.                            
                        </h2>
                    </div>
                    <div class="column">.
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>

        <div class="container">
            <div class="columns">
                <div class="column">
                  <br> Your message has been sent successfully !
               </div>
            </div>
        </div>

    </section> 
{% endblock content %}
