{% extends "layout.jinja2" %}

{% block title %}Amylome - Contact{% endblock %}

{% block more_links %}
<link href="{{request.static_url('amypdb:static/mystyles_purple.css', _scheme='https')}}" rel="stylesheet">
{% endblock %}

{% block content %}

    <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
            <div class="horizontal-margin">
                <div class="columns">
                    <div class="column is-three-quarters">
                        <h1 class="title">Contact form</h1>
                        <h2 class="subtitle">If you have any questions or suggestions regarding the website TransAmylome, feel free to contact us, we will try to get back to you as soon as possible.                            
                        </h2>
                    </div>
                    <div class="column">.
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
   <form action="/contact_response" method="post" >
        <div class="container">
            <div class="columns">
                <div class="column">
                  <br>
                    <div class="field">
                        <label class="label">Your name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Indicate your name">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Your email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-danger" type="email" placeholder="Enter a valid email" >
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"> </i>
                            </span>
                        </div>
                    </div>

                    

                    <div class="field">
                        <label class="label">Your message</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Your message"> </textarea>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" href="#">Submit</button>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
</form>
    </section> 
	<!--
    <section class="section">
        <div class="container" style="width: 100%;height: 600px; overflow:hidden " scrolling="no">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeaVpSmqucP0nAYzrZWgmaeebsVm5GS2SRCMKizu0UPGvQIXA/viewform?embedded=true" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </section> -->
{% endblock content %}
