{% extends "layout.jinja2" %}


{% block title %}Amypdb - Search Results{% endblock %}


    
    
  {% block more_scripts %}  
      <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>
{% endblock  %}


{% block more_links %}
<!--  <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" /> -->
      <link href="{{request.static_url('amypdb:static/mystyles_purple.css', _scheme='https')}}" rel="stylesheet">

{% endblock %}

{% block content %}


  <section class="hero is-primary is-bold">
      <div class="horizontal-margin" >
    <div class="hero-body">

      <div class="columns">
         <div class="column is-three-fifths">
        <h1 class="title">DISEASES<br />Amyloidosis and amyloid-related diseases</h1>

	<h2 class="subtitle">
          Organism : Homo Sapiens
	</h2>
           </div>
           <div class="column has-text-right"> 
           </div>   
        </div><!-- end columns -->


</div><!-- end hero-body -->


<div class="hero-foot">
<div style="margin-left: 2rem">
    <nav class="tabs is-boxed">

        <ul>
        <li class="heroTab with-loader" id="diseases">
            <a href="{{ request.route_url(route_name='disease_list') }}#diseases">Diseases</a>
          </li>
          <li class="heroTab is-active" id="phenotype">
            <a href="#">Common phenotypes</a>
          </li>

        </ul>

    </nav>
</div>

</div>

</div>

 </section>
  <div id="loader" style="display:none;position: relative;top:40px;width:100%;z-index:999999"><center><div class="icon is-large"  style="font-size: 20px;color:#814c85"><i class="fas fa-spinner fa-spin fa-3x"></i></div></center></div>


<section class="section"> 
         <div class="has-text-centered margin-bottom" >
          <h2 class="title">Most common phenotypes</h2>
        </div>

<div class="columns is-fullwidth" id="phenoList">
<div class="column">
<ul>
{% for item in resultList %}
{% if loop.index <= resultList|length  / 3 %}
<li class="has-text-centered"><form action="/results_pheno" id="pheno{{ loop.index }}" style="display:inline">
                        <input type="hidden" name="phenolist" value="{{ item.phenoRef }}"> </input>
						<input type="hidden" name="sorts[tag]" value="-1">
						<a href="#" onClick="javascript:submitForm('#pheno{{ loop.index }}')">{{ item.phenoLabel|truncate(42,False) }}</a>
						</form>
</li>
{% endif %}
 {% endfor %}
</ul>
</div>


<div class="column">
<ul>
{% for item in resultList %}
{% if loop.index > resultList|length / 3  and loop.index <= resultList|length * 2 / 3  %}

<li class="has-text-centered"><form action="/results_pheno" id="pheno2{{ loop.index }}" style="display:inline">
                        <input type="hidden" name="phenolist" value="{{ item.phenoRef }}"> </input>
						<input type="hidden" name="sorts[tag]" value="-1">
						<a href="#" onClick="javascript:submitForm('#pheno2{{ loop.index }}')">{{ item.phenoLabel|truncate(42,False) }}</a>
						</form></li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in resultList %}
{% if loop.index > resultList|length * 2 / 3  %}
<li class="has-text-centered"><form action="/results_pheno" id="pheno3{{ loop.index }}" style="display:inline">
                        <input type="hidden" name="phenolist" value="{{ item.phenoRef }}"> </input>
						<input type="hidden" name="sorts[tag]" value="-1">
						<a href="#" onClick="javascript:submitForm('#pheno3{{ loop.index }}')">{{ item.phenoLabel|truncate(42,False) }}</a>
						</form></li>
{% endif %}
 {% endfor %}
</ul>
</div>

</div>

</div>
</section>

 


{% endblock content %}

{% block comp_script %}
<script>

function submitForm(id) {
$(id).submit();
}

 $('.with-loader').on('click', function(){
       document.getElementById("loader").style.display = "block";
    });

$(window).bind("pageshow", function(event) {
    document.getElementById("loader").style.display = "none";
});
</script>



{% endblock %}

