{% extends "layout.jinja2" %}

{% block title %}Amypdb - Disease - {{ mainInfo["label"] }} {% endblock %}

    
       
  {% block more_scripts %}  
      <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>
{% endblock  %}


{% block more_links %}

<!--  <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" /> -->
    <link href="{{request.static_url('amypdb:static/mystyles_blue.css', _scheme='https')}}" rel="stylesheet">
{% endblock %}


{% block content %}
 
  <section class="hero is-primary is-bold">
      <div class="horizontal-margin" >
    <div class="hero-body">

      <div class="columns">
         <div class="column is-three-quarters" >
        <h1 class="title" style="margin-top: 20px;">DISEASE<br />{{ mainInfo["label"] }}</h1>
        {% set labels = mainInfo["altList"] %}
        {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
        <p class="alt_labels">Alternative labels :  {{ labels }}  </p>
         <h2 class="subtitle"> {{ mainInfo["description"] }} 
{% if mainInfo["description"] != "" %}
<br />(Source : <a target="_blank" href="https://monarchinitiative.org/disease/{{ itemId | replace("_", ":") }}"> Mondo <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) {% endif %} </h2>
 
        </div>

    
           <div class="column has-text-right">
           
           {% set tags = mainInfo["qualiList"].split("|") %}
            {% for tag in tags %}
            <span class="hero_tag">{{ tag }}</span><br />
             {% endfor %}
            

           </div>

        </div><!-- end columns -->


</div><!-- end hero-body -->



<div class="hero-foot">
<div style="margin-left: 2rem">
    <nav class="tabs is-boxed ">

        <ul>
        <li class="is-active heroTab" id="phenotype">
            <a>Phenotypes and related diseases</a>
          </li>
        <li class="heroTab" id="relGenes">
            <a href="{{ request.route_url(route_name='disease_geneprot', itemId=itemId) }}#relGenes" class="with-loader">Related genes and proteins</a>
          </li>
        </ul>

    </nav>
</div>

</div>


</div> <!-- end horizontal-->

  </section>

<div id="loader" style="display:none;position: relative;top:40px;width:100%;z-index:999999"><center><div class="icon is-large"  style="font-size: 20px;color:#0c3a9d"><i class="fas fa-spinner fa-spin fa-3x"></i></div></center></div>


{% if mainInfo["phenoList"]|length <= 1 %}


{% else %}
<section class="section">

<div class="has-text-centered is-primary margin-top margin-bottom-large" >
<h2 class="title is-primary">Phenotypes</h2>
{% if mainInfo["phenoList"]|length > 30 %}
<div class="columns is-fullwidth" id="phenoList">
<div class="column">
<ul>
{% for item in mainInfo["phenoList"][:30] %}
{% if loop.index > mainInfo["phenoList"][:30]|length / 3  and loop.index <= mainInfo["phenoList"][:30]|length * 2 / 3  %}
<li class="has-text-centered">{{ item|truncate(42,False) }}</li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in mainInfo["phenoList"][:30] %}
{% if loop.index > mainInfo["phenoList"][:30]|length * 2 / 3  %}
<li class="has-text-centered">{{ item|truncate(42,False) }}</li>
{% endif %}
 {% endfor %}
</ul>
<br />
<button class="button is-primary" onClick="showPheno()" id="showPheno">Show all phenotypes</button>
</div>
<div class="column">
<ul>
{% for item in mainInfo["phenoList"][:30] %}
{% if loop.index <= mainInfo["phenoList"][:30]|length  / 3 %}
<li class="has-text-centered">{{ item|truncate(42,False) }}</li>
{% endif %}
 {% endfor %}
</ul>
</div>
</div>
<div class="columns is-fullwidth diseaseList" id="phenoList2" style="display:none">
<div class="column">
<ul>
{% for item in mainInfo["phenoList"] %}
{% if loop.index > mainInfo["phenoList"]|length / 3  and loop.index <= mainInfo["phenoList"]|length * 2 / 3  %}
<li class="has-text-centered">{{ item|truncate(42,False) }}</li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in mainInfo["phenoList"] %}
{% if loop.index > mainInfo["phenoList"]|length * 2 / 3  %}
<li class="has-text-centered">{{ item|truncate(42,False) }}</li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in mainInfo["phenoList"] %}
{% if loop.index <= mainInfo["phenoList"]|length  / 3 %}
<li class="has-text-centered">{{ item|truncate(42,False) }}</li>
{% endif %}
 {% endfor %}
</ul>
</div>
</div>
{% else %}
<div class="columns is-fullwidth" id="phenoList">
<div class="column">
<ul>
{% for item in mainInfo["phenoList"] %}
{% if loop.index > mainInfo["phenoList"]|length / 3  and loop.index <= mainInfo["phenoList"]|length * 2 / 3  %}
<li class="has-text-centered">{{ item|truncate(42,False) }}</li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in mainInfo["phenoList"] %}
{% if loop.index > mainInfo["phenoList"]|length * 2 / 3  %}
<li class="has-text-centered">{{ item|truncate(42,False) }}</li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in mainInfo["phenoList"] %}
{% if loop.index <= mainInfo["phenoList"]|length  / 3 %}
<li class="has-text-centered">{{ item|truncate(42,False) }}</li>
{% endif %}
 {% endfor %}
</ul>
</div>
</div>
{% endif %}

</div>
</section>
{% endif %}

<section class="section">
<div class="has-text-centered is-primary margin-bottom-large" >
<h2 class="title is-primary">Related diseases</h2>

{% if resultParent|length >=1  %}

<div class="is-size-5">Parent diseases</div>


<div class="columns is-fullwidth diseaseList">
<div class="column">
<ul>
{% for item in resultParent %}
{% if loop.index > resultParent|length / 3  and loop.index <= resultParent|length * 2 / 3  %}

<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel|truncate(42,False) }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in resultParent %}
{% if loop.index > resultParent|length * 2 / 3  %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel|truncate(42,False) }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in resultParent %}
{% if loop.index <= resultParent|length  / 3 %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel|truncate(42,False) }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
</div>


{% endif %}



{% if resultChildren|length >=1  %}
<br />

<div class="is-size-5">Disease sub-types</div>

<div class="columns is-fullwidth diseaseList">
<div class="column">
<ul>
{% for item in resultChildren %}
{% if loop.index > resultChildren|length / 3  and loop.index <= resultChildren|length * 2 / 3  %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel|truncate(42,False)  }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in resultChildren %}
{% if loop.index > resultChildren|length * 2 / 3  %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel|truncate(42,False)  }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in resultChildren %}
{% if loop.index <= resultChildren|length  / 3 %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel|truncate(42,False)  }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
</div>


{% endif %}





{% if resultAssoc|length >=1  %}
<br />
<div class="is-size-5">Associated diseases</div>
<div class="columns is-fullwidth diseaseList" >
<div class="column">
<ul>
{% for item in resultAssoc %}
{% if loop.index > resultAssoc|length / 3  and loop.index <= resultAssoc|length * 2 / 3  %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel|truncate(42,False) }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in resultAssoc %}
{% if loop.index > resultAssoc|length * 2 / 3  %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel|truncate(42,False) }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in resultAssoc %}
{% if loop.index <= resultAssoc|length  / 3 %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel|truncate(42,False) }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
</div>




{% endif %}
</div>
 </section>
 
 <script>
 
 function showPheno() {
  document.getElementById("showPheno").style.display = "none";
  document.getElementById("phenoList").style.display = "none";
  document.getElementById("phenoList2").style.display = "block";
 }
 
 $('.with-loader').on('click', function(){
       document.getElementById("loader").style.display = "block";
    });

$(window).bind("pageshow", function(event) {
    document.getElementById("loader").style.display = "none";
});
 </script>

{% endblock content %}

