{% extends "layout.jinja2" %}


{% block title %}Amypdb - Search Results{% endblock %}


    
    
  {% block more_scripts %}  
      <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>
{% endblock  %}


{% block more_links %}
<!--  <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" /> -->
      <link href="{{request.static_url('amypdb:static/mystyles_purple.css', _scheme='https')}}" rel="stylesheet">

{% endblock %}

{% block content %}


  <section class="hero is-primary is-bold">
      <div class="horizontal-margin" >
    <div class="hero-body">

      <div class="columns">
         <div class="column is-three-fifths">
        <h1 class="title">DISEASES<br />Amyloidosis and amyloid-related diseases</h1>

	<h2 class="subtitle">
          Organism : Homo Sapiens
	</h2>
           </div>
           <div class="column has-text-right"> 
           </div>   
        </div><!-- end columns -->


</div><!-- end hero-body -->


<div class="hero-foot">
<div style="margin-left: 2rem">
    <nav class="tabs is-boxed">

        <ul>
        <li class="heroTab is-active" id="diseases">
            <a >Diseases</a>
          </li>
          <li class="heroTab with-loader" id="phenotype">
            <a href="{{ request.route_url(route_name='disease_list_pheno') }}#phenotype">Common phenotypes</a>
          </li>

        </ul>

    </nav>
</div>

</div>

</div>

 </section>
  <div id="loader" style="display:none;position: relative;top:40px;width:100%;z-index:999999"><center><div class="icon is-large"  style="font-size: 20px;color:#814c85"><i class="fas fa-spinner fa-spin fa-3x"></i></div></center></div>


<section class="section"> 
         <div class="has-text-centered margin-bottom" >
          <h2 class="title">Diseases</h2>
        </div>



        <table id="diseaseTable" class="table is-striped is-fullwidth">
      <thead>
      
	<th>Disease</th>
        <th>Description</th>
	<th>Tag</th>
	 <th style="width:200px">Mondo link</th>
       </thead>
      <tbody>

 {% for item in resultList  %}
 <tr>
<td><a href="{{ request.route_url(route_name='disease', itemId=item.entityId) }}">{{ item.entityLabel }}</a></td>
<td>{{ item.description|truncate(100,False) }}</td>
<td>{%if item.qualifier != "" %}<span class="tag is-info">{{ item.qualifier }}</span>{% endif %}</td>

<td> <a target="_blank" href="https://monarchinitiative.org/disease/{{ item.entityId | replace("_", ":") }}">{{ item.entityId | replace("_", ":") }}  <span class="icon" style="color:hsl(272, 23%, 50%)"><i class="fas fa-sign-out-alt"></i></span></a></td>
 </tr>

 {% endfor %}

      </tbody>
    </table>





 </section>

 


{% endblock content %}

{% block comp_script %}
<script>


 $('.with-loader').on('click', function(){
       document.getElementById("loader").style.display = "block";
    });

$(window).bind("pageshow", function(event) {
    document.getElementById("loader").style.display = "none";
});
</script>


<script>
$( document ).ready(function() {


    $('#diseaseTable').dynatable({
  features: {
    paginate: true,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
    }
    });
});
</script>
{% endblock %}

