{% extends "layout.jinja2" %}

{% block title %}Amypdb - Disease - {{ mainInfo["label"] }} {% endblock %}

    
       
  {% block more_scripts %}  
      <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>
{% endblock  %}


{% block more_links %}

<!--  <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" /> -->
    <link href="{{request.static_url('amypdb:static/mystyles_blue.css', _scheme='https')}}" rel="stylesheet">
{% endblock %}


{% block content %}
 
  <section class="hero is-primary is-bold">
      <div class="horizontal-margin" >
    <div class="hero-body">

      <div class="columns">
         <div class="column is-three-quarters">
        <h1 class="title" style="margin-top: 20px;">DISEASE<br />{{ mainInfo["label"] }}</h1>
        {% set labels = mainInfo["altList"] %}
        {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
 <p class="alt_labels">Alternative labels :  {{ labels }}  </p>
         <h2 class="subtitle"> {{ mainInfo["description"] }} 
{% if mainInfo["description"] != "" %}
<br />(Source : <a target="_blank" href="https://monarchinitiative.org/disease/{{ itemId | replace("_", ":") }}"> Mondo <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) {% endif %} </h2>

        </div>

    
           <div class="column has-text-right">
           
           {% set tags = mainInfo["qualiList"].split("|") %}
            {% for tag in tags %}
            <span class="hero_tag">{{ tag }}</span><br />
             {% endfor %}
            

           </div>

        </div><!-- end columns -->


</div><!-- end hero-body -->



<div class="hero-foot">
<div style="margin-left: 2rem">
    <nav class="tabs is-boxed">

        <ul>
        <li class="heroTab" id="phenotype">
            <a href="{{ request.route_url(route_name='disease', itemId=itemId) }}#phenotype">Phenotype</a>
          </li>
		<li class="heroTab" id="relDiseases">
            <a href="{{ request.route_url(route_name='disease_related', itemId=itemId) }}#relDiseases">Related diseases</a>
          </li>
          <li class="heroTab" id="relGenes">
            <a href="{{ request.route_url(route_name='disease_genes', itemId=itemId) }}#relGenes">Related Genes</a>
          </li>
          <li class="is-active heroTab" id="relProteins">
            <a>Related proteins</a>
          </li>

        </ul>

    </nav>
</div>

</div>


</div> <!-- end horizontal-->

  </section>


<section class="section">

<div class="has-text-centered is-primary margin-top margin-bottom" >
<h2 class="title is-primary">Related proteins</h2>
<div>Information about the proteins associated to {{ mainInfo["label"] }} in Uniprot{% if resultProt|length < 1 %} : No information found{% endif %}</div>
</div>

  {% if resultProt|length >= 1 %}

        <table id="proteinTable" class="table is-striped is-fullwidth">
      <thead>
       <th>Id</th>
	<th>Protein</th>
        <th>Description</th>
        <th>Number of publications</th>

       </thead>
      <tbody>

 {% for item in resultProt  %}
 <tr>
<td><a href="{{ request.route_url(route_name='protein_bio', itemId=item.proteinId) }}">{{ item.proteinId }}</a></td>
<td>{{ item.proteinLabel }}</td>
<td>{{ item.proteinDesc|truncate(140,False) }}</td>
<td>{{ item.nb }}</td>

 </tr>

 {% endfor %}

      </tbody>
    </table>

      {% endif %}

</section>

    {% if resultVariant|length > 0 %}
  <section class="section">
<div class="has-text-centered is-primary margin-top margin-bottom" >
<h2 class="title is-primary">Pathogenic variants</h2>
<div>Information about the pathogenic variants associated to {{ mainInfo["label"] }} in Disgenet</div>
</div>


          <table id="variantTable" class="table is-striped is-fullwidth">
      <thead>
	<th>Variant</th>
  <th>Protein</th>
        <th>Description</th>
          <th>Score</th>
       </thead>
      <tbody>

 {% for item in resultVariant  %}
 <tr>
<td><a href="{{ item.link|safe }}" target="_blank">{{ item.variantId }}</a></td>
<td><a href="{{ request.route_url(route_name='protein_bio', itemId=item.proteinId) }}">{{ item.proteinLabel }}</a></td>
<td>{{ item.variantDesc }}</td>
<td>{{ item.score }}</td>
 </tr>

 {% endfor %}

      </tbody>
    </table>

</section>
  {% endif %}

{% endblock content %}
{% block comp_script %}
<script>
$( document ).ready(function() {


        $('#proteinTable').dynatable({
  features: {
    paginate: true,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
    }
    });

});
</script>
{% endblock %}
