{% extends "layout.jinja2" %}

{% block title %}Amypdb - Disease - {{ mainInfo["label"] }} {% endblock %}

    
       
  {% block more_scripts %}  





<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-sankey.min.js"></script> 

  <script> anychart.licenseKey("laurence.noel@etudiant.univ-rennes1.fr-aa5a1d9-129cd39"); </script>

      <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>
{% endblock  %}


{% block more_links %}

<!--  <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" /> -->
    <link href="{{request.static_url('amypdb:static/mystyles_blue.css', _scheme='https')}}" rel="stylesheet">
{% endblock %}


{% block content %}
 
  <section class="hero is-primary is-bold">
      <div class="horizontal-margin" >
    <div class="hero-body">

      <div class="columns">
         <div class="column is-three-quarters">
        <h1 class="title" style="margin-top: 20px;">DISEASE<br />{{ mainInfo["label"] }}</h1>
        {% set labels = mainInfo["altList"] %}
        {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
        <p class="alt_labels">Alternative labels :  {{ labels }}  </p>
         <h2 class="subtitle"> {{ mainInfo["description"] }} 
{% if mainInfo["description"] != "" %}
<br />(Source : <a target="_blank" href="https://monarchinitiative.org/disease/{{ itemId | replace("_", ":") }}"> Mondo <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) {% endif %} </h2>

        </div>

    
           <div class="column has-text-right">
           
           {% set tags = mainInfo["qualiList"].split("|") %}
            {% for tag in tags %}
            <span class="hero_tag">{{ tag }}</span><br />
             {% endfor %}
            

           </div>

        </div><!-- end columns -->


</div><!-- end hero-body -->



<div class="hero-foot">
<div style="margin-left: 2rem">
    <nav class="tabs is-boxed">

        <ul>
        <li class="heroTab" id="phenotype">
            <a href="{{ request.route_url(route_name='disease', itemId=itemId) }}#phenotype">Phenotypes and related diseases</a>
          </li>
          <li class="is-active heroTab" id="relGenes">
            <a>Related genes and proteins</a>
          </li>

        </ul>

    </nav>
</div>

</div>


</div> <!-- end horizontal-->

  </section>





<section class="section">

<div class="has-text-centered is-primary margin-top margin-bottom" >
<h2 class="title is-primary">Related genes</h2>
<div class="is-size-5">Genes associated to {{ mainInfo["label"] }} in Disgenet.<div class="is-size-6"> The gene-disease association score is explained <a href="https://www.disgenet.org/dbinfo#section31" target="_blank">here</a></div></div>
</div>

  {% if resultGene|length < 1 %}
<div class="has-text-centered">No information found</div>

{% else %}

        <table id="geneTable" class="table is-striped is-fullwidth">
      <thead>
      
	       <th>Gene</th>
        <th>Description</th>
		 <th>Encodes</th>
        <th style="width:8%">Score <span class="icon has-tooltip-bottom has-tooltip-multiline"
                                 data-tooltip="Scores for gene-disease associations range from 0 to 1, and take into account the number and type of sources (level of curation, model organisms), and the number of publications supporting the association.">
                                <i class="fas fa-question-circle"></i></span></th>
		 <th style="width: 200px">Ensembl link</th>

       </thead>
      <tbody>

 {% for item in resultGene  %}
 <tr>

<td>{{ item.geneLabel }}</td>
<td>{{ item.geneDesc }}</td>
<td><a href="{{ request.route_url(route_name='protein_seq', itemId=item.protId) }}">{{ item.protId }}</a></td>
<td>{{ item.score }}</td>
<td><a href="https://www.ensembl.org/id/{{ item.geneId }}" target="_blank">{{ item.geneId }} <span class="icon" style="color:hsl(207,44%,49%)"><i class="fas fa-sign-out-alt"></i></span></a></td>
 </tr>

 {% endfor %}

      </tbody>
    </table>

    {% endif %}

</section>




<section class="section">

<div class="has-text-centered is-primary margin-top margin-bottom" >
<h2 class="title is-primary">Related proteins</h2>
<div class="is-size-5">Proteins associated to {{ mainInfo["label"] }} in Uniprot{% if resultProt|length < 1 %} : No information found{% endif %}</div>
</div>

  {% if resultProt|length >= 1 %}

        <table id="proteinTable" class="table is-striped is-fullwidth">
      <thead>
   
	<th style="width:250px">Protein</th>
        <th>Description</th>
<th style="width: 120px">Uniprot link</th>
       </thead>
      <tbody>

 {% for item in resultProt  %}
 <tr>

<td><a href="{{ request.route_url(route_name='protein_seq', itemId=item.proteinId) }}">{{ item.proteinLabel }}</a></td>
<td>{{ item.proteinDesc|truncate(140,False) }}</td>
<td><a href="https://www.uniprot.org/uniprot/{{ item.proteinId }}" target="_blank">{{ item.proteinId }} <span class="icon" style="hsl(207,44%,49%)"><i class="fas fa-sign-out-alt"></i></span></a></td>

 </tr>

 {% endfor %}

      </tbody>
    </table>

      {% endif %}
<br />

  
</section>

 

{% endblock content %}
{% block comp_script %}
<script>
$( document ).ready(function() {
    $('#geneTable').dynatable({
  features: {
    paginate: true,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
    }
    });
	
	  $('#proteinTable').dynatable({
  features: {
    paginate: true,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
    }
    });
	
		  $('#variantTable').dynatable({
  features: {
    paginate: true,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
    }
    });


});




</script>
{% endblock %}













