{% extends "layout.jinja2" %}

{% block title %}TransAmylome - Home{% endblock %}

{% block more_scripts %}
<!--
<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-pie.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-cartesian.min.js"></script>
-->

<script src="{{request.static_url('amypdb:static/bundle.min.js', _scheme='https')}}"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"> </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>

{% endblock %}

{% block more_links %}

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="{{request.static_url('amypdb:static/mystyles_purple.css', _scheme='https')}}" rel="stylesheet">


                                        <style>
                                           
                                            .select-wrapper {
                                            margin: auto;
                                            
                                            }

                                            .select-pure__select {
                                            align-items: center;
                                            background: white;
                                            border-radius: 4px;
                                            border: 1px solid rgba(0, 0, 0, 0.15);
                                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
                                            box-sizing: border-box;
                                            color: #363b3e;
                                            cursor: pointer;
                                            display: flex;
                                            font-size: 15px;
                                            font-weight: 500;
                                            justify-content: left;
                                            min-height: 40px;
                                            padding: 3px 10px;
                                            position: relative;
                                            transition: 0.2s;
                                            width: 100%;
                                            }

                                            .select-pure__options {
                                            border-radius: 4px;
                                            border: 1px solid rgba(0, 0, 0, 0.15);
                                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
                                            box-sizing: border-box;
                                            color: #363b3e;
                                            display: none;
                                            left: 0;
                                            max-height: 221px;
                                            overflow-y: scroll;
                                            position: absolute;
                                            top: 50px;
                                            width: 100%;
                                            z-index: 5;
                                            }

                                            .select-pure__select--opened .select-pure__options {
                                            display: block;
                                            }

                                            .select-pure__option {
                                            background: #fff;
                                            border-bottom: 1px solid #e4e4e4;
                                            box-sizing: border-box;
                                            height: 44px;
                                            line-height: 25px;
                                            padding: 10px;
                                            }

                                            .select-pure__option--selected {
                                            color: #e4e4e4;
                                            cursor: initial;
                                            pointer-events: none;
                                            }

                                            .select-pure__option--hidden {
                                            display: none;
                                            }
											
											.select-pure__placeholder {
											color: #e7e4e7;
											}

                                            .select-pure__selected-label {
                                            align-items: 'center';
                                            background: #5e6264;
                                            border-radius: 4px;
                                            color: #fff;
                                            cursor: initial;
                                            display: inline-flex;
                                            justify-content: 'center';
                                            margin: 5px 10px 5px 0;
                                            padding: 3px 7px;
                                            }

                                            .select-pure__selected-label:last-of-type {
                                            margin-right: 0;
                                            }

                                            .select-pure__selected-label i {
                                            cursor: pointer;
                                            display: inline-block;
                                            margin-left: 7px;
                                            }

                                            .select-pure__selected-label img {
                                            cursor: pointer;
                                            display: inline-block;
                                            height: 18px;
                                            margin-left: 7px;
                                            width: 14px;
                                            }

                                            .select-pure__selected-label i:hover {
                                            color: #e4e4e4;
                                            }

                                            .select-pure__autocomplete {
                                            background: #f9f9f8;
                                            border-bottom: 1px solid #e4e4e4;
                                            border-left: none;
                                            border-right: none;
                                            border-top: none;
                                            box-sizing: border-box;
                                            font-size: 16px;
                                            outline: none;
                                            padding: 10px;
                                            width: 100%;
                                            }

                                            .select-pure__placeholder--hidden {
                                            display: none;
                                            }
                                        </style>

{% endblock %}


{% block content %}
<div id="loader" style="display:none;position:absolute;top:800px;width:100%;z-index:999999"><center><div class="icon is-large"  style="font-size: 20px;color:#5c428a"><i class="fas fa-spinner fa-spin fa-3x"></i></div></center></div>

  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
<div class="horizontal-margin">
   <div class="columns">
	 <div class="column is-three-quarters">
        <h1 class="title">transAmylome</h1>
        <h2 class="subtitle">transAmylome gathers information about proteins and diseases related to amyloid processes. It includes amyloid proteins  but also non-amyloid proteins involved in amyloid formation or playing a part in a amyloidosis or amyloid-related diseases (such as Alzheimer's, Parkinson's or Huntington's disease, for instance)  
          </h2>
      	</div>
	<div class="column"><span style="color:#5c428a">.</span>
	</div>
	</div>
</div>
</div>
  </section>






<section class="section">
 <div class="columns"> 
 <div class="column">
 <div class="tabs">
  <ul>
    <li class="is-active searchTab" onclick="openTab(event,'tabText')"><a>Search for a term</a></li>
    <li class="searchTab" onclick="openTab(event,'tabIdentifier')"><a>Search by identifier</a></li>
	<li class="searchTab" onclick="openTab(event,'tabSymptom')"><a>Search by symptom</a></li>

    <!--<li class="searchTab" onclick="openTab(event,'tabSequence')"><a>Search by sequence</a></li>-->
  </ul>
</div>
<div class="container is-fluid has-background-light is-marginless">
  <div class="smallmarg is-fluid content-tab for-display" id="tabText">
 <form action="/results_txt" method="post" id="search_home">
  <br />
  <div class="field">
  <div class="label">Text search<div class="icon has-tooltip-right has-tooltip-multiline"
                                 data-tooltip="The text search is performed in the title and description of the elements. Associations between proteins and diseases are not taken into account at this stage.">
                                <i class="fas fa-question-circle"></i>
                            </div></div>
   <div class="indic">Enter the searched term(s), specify if you're looking for a specific entity type (protein, disease...) and define if you want to search within all species or Homo sapiens only<br /><br /></div>
 
<div class="control">
<div class="field has-addons is-fullwidth">
  <div class="control is-fullwidth" style="width:100%">
    <input class="input  searchTabInput" type="text" placeholder="Enter the searched term(s)" name="search_text" id="searchText" ></input>
  </div>
  <div class="control">
  <div class="select" >
  	<select name="entity_type" id="entity_type">
    <option value="any_type" >All entity type</option>
    <option value="proteins" selected="selected">Proteins</option>
    <option value="amyloid" class="is-size-7" >-- Amyloid</option>
	<option value="amylome_interactor" class="is-size-7" >-- Amylome interactor</option>
	<option value="involved_amyloidosis"  class="is-size-7">-- Involved in amyloidosis</option>
	<option value="pathogenic" class="is-size-7" >-- Pathogenic</option>
	<option value="diseases" id="optdisease">Diseases</option>
	<option value="amyloidosis" class="is-size-7" >-- Amyloidosis</option>
	<option value="amyloid_related_disease"  class="is-size-7">-- Related diseases</option>
	<option value="genes"  id="optgene">Genes</option>
	</select>
	  </div>
  </div>
  
                                    <div class="control">
                                        <div class="select">
                                            <select name="specie_select" id="specie_select">
                                                <option value="human" selected="selected">Homo sapiens</option>
                                                <option value="any_specie">All species</option>
                                            </select>
                                        </div>
                                    </div>
	</div>
	
	 <div class="is-full-width" style="padding-top:10px">
  <input class="button is-link is-full-width with-loader" type="submit" value="Search"/>
  	<div  class="indic has-text-grey " style="position:relative;top:-30px;left:90px;margin-bottom:-30px;">Search examples : <a onclick="insertLabel('fibrillar','searchText')">fibrillar</a>, <a onclick="insertLabel('Alzheimer','searchText')">Alzheimer</a>, <a onclick="insertLabel('regulates','searchText')">regulates</a> ...</div>
</div>
</div>



  </div>
    <br />

    </form>
</div>

<div class="smallmarg is-fluid content-tab for-display" id="tabIdentifier" style="display:none">

 <form action="/results_id" method="post" id="search_home">
  <br />
  <div class="field">
  <div class="label">Search by identifier <br />  <span class="indic">Enter an identifier (Uniprot ID for proteins, Mondo ID for diseases, Ensembl ID for genes)<span></div>
<div class="control">
<div class="field has-addons is-fullwidth">
  <div class="control is-fullwidth" style="width:100%">
    <input class="input searchTabInput" type="text" placeholder="Enter an ID" name="search_identifier" id="searchIdentifier" ></input>
  </div>
 <div class="control">
  <input class="button  is-link with-loader" type="submit" value="Search" />
</div></div>
</div>
  </div>

 
    <div class="indic has-text-grey">ID examples : <a onclick="insertLabel('A4_HUMAN','searchIdentifier')">A4_HUMAN</a>, <a onclick="insertLabel('Q9Y287','searchIdentifier')">Q9Y287</a>, <a onclick="insertLabel('ENSG00000277956','searchIdentifier')">ENSG00000277956</a>, <a onclick="insertLabel('MONDO:0010857','searchIdentifier')">MONDO:0010857</a>...</div>



   <br />

    </form>
</div><!-- end div tabIdentifier -->



 <div id="tabSymptom" class="smallmarg is-fluid content-tab for-display" style="display:none">
                    <form action="/results_pheno" id="search_home_pheno">
                        <input type="hidden" id="phenolistid" name="phenolist" value=""> </input>
                        <input type="hidden" id="sortstag" name="sorts[tag]" value="-1"> </input>
                        <br/>
                        <div class="field">
                            <div class="label">Search diseases by symptoms (labels from the Human Phenotype Ontology) </div>
								  <div class="indic">Type the beginning of a symptom and select the corresponding label in the autocompletion list. <br />If you select several symptoms, only the diseases associated to all those symptoms will be retrieved.<br /><br /></div>
								<div class="control">
                                <div class="field has-addons is-fullwidth">
                                    <div class="control is-fullwidth" style="width:100%">
                                        <div class="select-wrapper">
                                            <span class="autocomplete-select"> </span>
                                        </div>
                                    </div>

                                </div>
								
								    <div class="control">
									
                                        <input class="button  is-link is-full-width with-loader" type="submit" value="Search" /> 
																			<a href="{{ request.route_url(route_name='disease_list_pheno') }}" class="indic" style="position:relative;top:5px;left:20px;margin-bottom:-5px;">Check frequent symptoms associated to amyloidosis (or amyloid-related diseases)</a>
                                    </div>

								</div>
                        </div>
<br />
                   </form>
</div> <!-- end of contentTab -->




</div> <!-- end of container -->
</div> <!-- end of column-->
<div class="column">
 
 
 
 
           <div class="tabs">
                <ul>
                    <li class="is-active">
                        <a>Hotspot predictions<div class="icon has-tooltip-right"
                                 data-tooltip="Prediction of potential amyloid sequences">
                                <i class="fas fa-question-circle"></i>
                            </div>                            
                        </a>
                    </li>
                </ul>
            </div>
           
	<div class="container is-fluid has-background-light is-marginless">
                <div class="smallmarg is-fluid content-tab">
				 <br/>
	
                <form action="/results_seq" id="results_seq">

                        <div class="field">
                            <div class="label">Predict hotspots with Metamyl
							<br />
							  <span class="indic">
                               Enter a sequence of amino acid residues to discover if it may lead to amyloïd aggregation
                                <span/>
							
							</div>
							
                     
                            <div class="control">
                                <div class="field is-fullwidth">
                                <div class="control" style="width:100%">
                                    <textarea class="textarea is-size-7" placeholder="Enter a sequence"  name="saav" id="saav" rows="3"></textarea>
                                </div>
                             </div>
							 
							 								
                                 <div class="control">
								 <input class="button is-link is-full-width with-loader" type="submit" value="Submit"/>
								 <div  class="indic has-text-grey" style="position:relative;top:-30px;left:90px;margin-bottom:-20px;">Example : <a onclick="insertLabel('YVTIVDENDNAPMFQQPHYENQITYSIVSASALNTSLI','saav')" class="is-size-7">YVTIVDENDNAPMFQQPHYENQITYSIVSASALNTSLI</a></div>
                                </div>
							 
            </form>
			<div class="is-size-7" style="color:#e7e4e7">.</div>
                            </div>
                        </div>
 
 


</div><!-- end of column -->
</div> <!-- end of columns -->
 </section>
 
 

 <section class="section">
    <div class="columns">
        <div class="column">
		
	<div class="tabs">
  <ul>
    <li class="is-active"><a>Discover annotated fragments, proteins or diseases</a></li>
   </ul>
</div>
   <div class="level is-mobile margin-top" style="margin-top: 40px">
   
    <div class="level-item has-text-centered">
	 <a href="{{ request.route_url(route_name='amyloid_fragment_list') }}?sorts[sequence]=1" style="color:black;">   
      <div>  
            
        <p class="title"> 432 </p>
        <p class="heading">Amyloid fragments</p>
           
        <div>
			   <p>Evidence : <span class="icon is-medium has-tooltip-right"  data-tooltip="Experimental evidence"><i class="fas fa-flask"></i></span>  </p>
        <p>Species : <b>All</b></p>

        </div>
      </div></a>
    </div> 


    <div class="level-item has-text-centered">
	 <a href="{{ request.route_url(route_name='amyloid_protein_list') }}?sorts[protein]=1" style="color:black;">    
      <div>           
        <p class="title"> 68 </p>
        <p class="heading">Amyloid proteins</p>
       <div>
<p>Evidence : <span class="icon is-medium has-tooltip-right"  data-tooltip="Experimental evidence"><i class="fas fa-flask"></i></span>  </p>
        <p>Species : <b>Homo Sapiens</b></p>        
        </div>
      </div></a>
    </div>      
	
	
	         
	    <div class="level-item has-text-centered">
		  <a href="{{ request.route_url(route_name='all_amyloid_protein_list') }}?sorts[protein]=1" style="color:black;">   
      <div>   <p class="title"> 216 </p>
        <p class="heading">Candidate amyloid proteins</p>
 <div>
         <p>Evidence : <span class="icon is-medium has-tooltip-right"  data-tooltip="Experimental evidence"><i class="fas fa-flask"></i></span>  or <span class="icon is-medium has-tooltip-right"  data-tooltip="Computational evidence"><i class="fas fa-laptop"></i></span> </p>
		         <p>Species : <b>Homo Sapiens</b></p>
         </a>
        </div>
      </div> </a>
    </div>
	

    <div class="level-item has-text-centered">
	<a href="{{ request.route_url(route_name='amylome_protein_list') }}?sorts[tag]=1" style="color:black;">  
      <div>  
      <p class="title"> 1052 </p>
        <p class="heading">Amylome proteins<span class="icon  has-tooltip-bottom has-tooltip-multiline" style="text-transform:none" data-tooltip="Amyloid proteins, proteins invovlved in amyloidosis or proteins interacting with amyloid proteins"><i class="fas fa-question-circle"></i></span>                              
   		</p>          
        <div>
		<p>Evidence : <span class="icon is-medium has-tooltip-right"  data-tooltip="Experimental evidence"><i class="fas fa-flask"></i></span>  or <span class="icon is-medium has-tooltip-right"  data-tooltip="Computational evidence"><i class="fas fa-laptop"></i></span></p>
        <p>Species : <b>Homo sapiens</b></p>		
        </div>
      </div>
	  	  </a>
    </div>


  
 
    <div class="level-item has-text-centered">
	   <a href="{{ request.route_url(route_name='disease_list') }}?sorts[disease]=1" style="color:black;"> 
       <div>
        <p class="title">403</p>
        <p class="heading">Amyloidosis</p>
        <div>
		<p class="is-size-7" style="color:white">.</p>
        <p >and amyloid-related diseases</p>
		<p>Species : <b>Homo sapiens</b></p>
        </div>
      </div>
    </div>
	    </a>
    </div>


    </div><!-- end of div level is-mobile -->	
		
		
		
		
		
		
		
		
  


        </div>
    </div>
</section>
 
 

  
<section class="section">
    <div class="columns">
        <div class="column">
            <div class="tabs">
                <ul>
                    <li class="is-active">
                        <a>Protein precursors of fibril proteins according to the ISA nomenclature
                            <div class="icon has-tooltip-right"
                                 data-tooltip="Nomenclature established by the International Society of Amyloidosis">
                                <i class="fas fa-question-circle"> </i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
	       <div class="container is-fluid has-background-light is-marginless">
                <div class="smallmarg is-fluid content-tab">
                    <div class="field">
                        <br/>

<table id="IsaTable" class="table is-striped is-fullwidth">
    <thead>
        <th>Fibril protein</th>
        <th>Precursor protein</th>
        <th>Systemic and/or localized</th>
        <th>Acquired or hereditary</th>
		 <th>Target organs</th>
    </thead>
    <tbody>

        {% for item in resultISA %}
        <tr>
            <td>{{ item.fibrilProt }}</td>
			{% if item.protID != "" %}
            <td><a href="{{ request.route_url(route_name='protein_seq', itemId=item.protID) }}">{{ item.precursor }}</a></td>
			{% elif item.protParam.startswith('list')  %}
			 <td><form action="/results_list" method="post"><a href="javascript:;" onclick="parentNode.submit();">{{ item.precursor }}</a>
			 <input type="hidden" name="search_item" value={{ item.precursor }} />
<input type="hidden" name="search_list" value={{ item.protParam }} /> </form></td>
			{% else %}
			<td>{{ item.precursor }}</td>
			 {% endif %}
            <td>{{ item.systLoc }}</td>
            <td>{{ item.acqHer }}</td>
			 <td>{{ item.target }}</td>
        </tr>

        {% endfor %}

    </tbody>
</table>






                        <div>
                            <br/>
                            <p> Source : <a href="https://doi.org/10.1080/13506129.2020.1835263" target="_blank">Amyloid nomenclature 2020: update and recommendations by the International Society of Amyloidosis (ISA) nomenclature committee</a> Merrill D. Benson, Joel N. Buxbaum, David S. Eisenberg, Giampaolo Merlini, Maria J. M. Saraiva, Yoshiki Sekijima, Jean D. Sipe,Per Westermark, <i>Amyloid, The Journal of Protein Folding Disorders</i>, 27:4, 217-222</p>

<p class=is-size-7>* ADan is the product of the same gene as ABri, ** Also called amylin, *** Not proven by amino acid sequence analysis, **** Full amino acid sequence to be established.<br/>
                            </p>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  

{% endblock content %} 


{% block comp_script %} 

<script>

$('.with-loader').on('click', function(){
       document.getElementById("loader").style.display = "block";
    });

$(window).bind("pageshow", function(event) {
    document.getElementById("loader").style.display = "none";
});

function openTab(evt, tabName) {
  // Declare all variables
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("for-display");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("searchTab");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace("is-active", "");
  }

  searchTabInputs = document.getElementsByClassName("searchTabInput");
 for (i=0; i < searchTabInputs.length;i++) {
searchTabInputs[i].value = "";
}

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " is-active";
  

}

function insertLabel(label,eltId) {
document.getElementById(eltId).value = label;
if (label == "Alzheimer") {
document.getElementById("optdisease").selected = true
} else if (label == "ENSG00000186868") {
document.getElementById("optgene").selected = true
} else if (label == "MONDO:0010857") {
document.getElementById("optdisease").selected = true
}

}




</script>

                                        <script>
                                            var xmlhttp = new XMLHttpRequest();
                                            xmlhttp.onreadystatechange = function() {
                                            if (this.readyState == 4 && this.status == 200) {

                                            var myObj = JSON.parse(this.responseText);

                                            var values = ""

                                            var customIcon = document.createElement('img');
                                            customIcon.src = "{{request.static_url('amypdb:static/icon.svg', _scheme='https')}}";
                                            var customIconMulti = new SelectPure(".autocomplete-select", {
                                            options: myObj,
                                            multiple: true,
											placeholder: "eg. dysphagia or muscular hypotonia",
                                            autocomplete: true,
                                            inlineIcon: customIcon,
                                            onChange: value => { emptyInput(); },
                                            classNames: {
                                            select: "select-pure__select",
                                            dropdownShown: "select-pure__select--opened",
                                            multiselect: "select-pure__select--multiple",
                                            label: "select-pure__label",
                                            placeholder: "select-pure__placeholder",
                                            dropdown: "select-pure__options",
                                            option: "select-pure__option",
                                            autocompleteInput: "select-pure__autocomplete",
                                            selectedLabel: "select-pure__selected-label",
                                            selectedOption: "select-pure__option--selected",
                                            placeholderHidden: "select-pure__placeholder--hidden",
                                            optionHidden: "select-pure__option--hidden",
                                            }
                                            }

                                            );
											
											function emptyInput() {
											autoComplete = document.getElementsByClassName("select-pure__autocomplete");
											for (i=0; i < autoComplete.length;i++) {
											autoComplete[i].value = "";
											}
											}

											

                                            var form_element = document.getElementById('search_home_pheno').onsubmit =
                                            function() {phenoFonction()};
                                            function phenoFonction(){
                                            document.getElementById("phenolistid").value = customIconMulti.value();
                                            }

                                            }
                                            };


                                            xmlhttp.open("GET",
                                            "{{request.static_url('amypdb:static/symptom_list.json', _scheme='https')}}", true);
                                            xmlhttp.send();
                                        </script>

{% endblock comp_script %} 

