<!DOCTYPE html>
<html lang="{{request.locale_name}}">

{% block head %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{request.static_url('amypdb:static/pyramid-16x16.png')}}">
    <title>{% block title %}transAmylome{% endblock %}</title>

  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  {% block more_scripts %} {% endblock %}
  {% block more_links %} {% endblock %}
    <link href="{{request.static_url('amypdb:static/directstyles.css', _scheme='https')}}" rel="stylesheet">
	     <link href="{{request.static_url('amypdb:static/bulma-tooltip.min.css', _scheme='https')}}" rel="stylesheet"/>
  </head>
  {% endblock head %}

<body>
{% block navbar %}
 <nav class="navbar is-transparent" id="mainmenu">
    <div class="navbar-brand">
      <a class="navbar-item is-primary" href="{{ request.route_url('home') }}">
      <strong>transAmylome</strong>
    </a>
        <a role="button" class="navbar-burger burger"
                   onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
                   data-target="navbarBasic">
                    <span aria-hidden="true"> </span>
                    <span aria-hidden="true"> </span>
                    <span aria-hidden="true"> </span>
                </a>
    </div>

    <div id="navbarBasic" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{ request.route_url('home') }}">Home</a>
       <!-- <a class="navbar-item" href="#">Search</a>
         <a class="navbar-item" href="#">Genes</a>

         <a class="navbar-item" href="#">Proteins</a>
	 
	       <a class="navbar-item" href="#">Diseases</a>
         <div class="navbar-item has-dropdown is-hoverable"> -->
          <a class="navbar-item" href="{{ request.route_url('about_data')}}">About the data</a>
          <!--<div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="#">The team</a>
            <a class="navbar-item" href="#">The data</a>
          </div> 
        </div>-->
       
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-link" href="{{ request.route_url('contact')}}">
              <span class="icon">
                <i class="far fa-envelope-open"></i>
              </span>
              <span>Contact</span>
            </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  {% endblock navbar %}




  
            {% block content %}
	
             <p>Some content</p>
	  
	   
            {% endblock content %}



           {% block footer %}

<br/>  <br/>

<footer class="footer">
      <p >
        <strong >transAmylome</strong> - Université Rennes 1 / Genouest
      </p>

  </footer>

           {% endblock footer %}



            {% block comp_script %}


<script>
</script>

         {% endblock comp_script %}


    </body>






			
</html>
