{% extends "layout.jinja2" %}

        {% block title %}Amylome - Home{% endblock %}

        {% block more_scripts %}
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-graph.min.js"> </script>
<script src="{{request.static_url('amypdb:static/cytoscape.min.js', _scheme='https')}}"></script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'> </script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'> </script>
        {% endblock %}

        {% block more_links %}
<link href="{{request.static_url('amypdb:static/mystyles_purple.css', _scheme='https')}}" rel="stylesheet">
<link href="{{request.static_url('amypdb:static/cystoscype_stylecheet.css', _scheme='https')}}" rel="stylesheet">

    {% endblock %}


    {% block content %}

<section class="hero is-primary is-bold">
    <div class="horizontal-margin">
    <div class="hero-body"> 
                <div class="columns">
                    <div class="column is-three-quarters">
                        <h1 class="title">Result{% if diseases|length > 1 %}s{% endif %} for {% for item in symptoms %}"{{ item.phenoLabel }}" {% if loop.index < symptoms|length %} and {% endif %}{% endfor %}</h1>
                        <h2 class="subtitle">{% if diseases|length < 1 %}No results found. {% else %}The following diseases are associated to the searched symptoms in mondo or orphanet.{% endif %} 
						{% if symptoms|length > 1 %}
						To extend your results, you can launch a new search by suppressing one of the symptoms : </h2>
						{% for item in symptoms %}
						<form action="/results_pheno" id="pheno{{ loop.index }}" style="display:inline">
                        <input type="hidden" name="phenolist" value="{% for elt in symptoms %}{% if elt.pheno != item.pheno %}{{ elt.pheno }}{% if loop.index < symptoms|length - 1 %},{% endif %}{% endif %}{% endfor %}"> </input>
						<input type="hidden" name="sorts[tag]" value="-1">
						<a href="javascript:submit()"><span class="tag is-danger" style="opacity:0.85">{{ item.phenoLabel }}<button class="delete"></button></span></a>
						</form> {% endfor %}
						{% else %}
						
						{% endif %}
                    </div>
                    <div class="column">&nbsp; </div>
                </div>
     </div>
	 
	 
	 
	 	<div class="hero-foot">

  <div style="margin-left: 2rem">
    <nav class="tabs is-boxed ">

        <ul>
		 {% if diseases|length > 0 %}
           <li class="heroTab is-active"><a href="#" onclick="openTab(event,'diseases')">{{ diseases|length }} diseases{% if disease|length > 1 %}s{% endif %} </a></li>
		  {% endif %}
		   {% if diseases|length > 0 and geneprot|length > 0 %}
		   <li class="heroTab" ><a href="#" onclick="openTab(event,'geneprot')">
                {{ resultGene|length }} gene{% if resultGene|length > 1 %}s{% endif %}
				</a>
			</li>
           {% endif %}

        </ul>

    </nav>
</div>
</div><!-- end hero-foot -->
	 
			
        </div>
    </section>

 
<section class="section"> 
         <div class="has-text-centered margin-bottom" >
          <h2 class="title">Diseases</h2>
        </div>
	

            <center>
                {% if diseases|length<1 %} <!--if no results error message-->
                <br>
                No results found<br>
                <br>
                {% endif %} <!--fin des test nombres de maladies trouvées-->
            </center>
			                {% if diseases|length > 0 %}
            <table id="diseasesinTable" class="table is-striped is-fullwidth">
                <thead> <!-- table headers-->                   
                    <th>Disease</th>
                    <th>Description</th>
                    <th>Tag</th>
					 <th style="width:200px">Mondo link</th>
                </thead>

                {% for item in diseases %}
                <tr> <!-- fill for each column-->
                    <td>
                        <a href="{{ request.route_url(route_name='disease', itemId=item.ID) }}">
                            {{item.label}}
                        </a>
                    </td>
                    <td>{{ item.description|truncate(100,False) }}</td> <!--not done yet-->

                    <td>{% for tag in item.qualifier %}{% if tag != "" %}<span class="tag is-info">{{tag}}</span>  {% endif %}{% endfor %}
                    </td>
                    <td><a target="_blank" href="https://monarchinitiative.org/disease/{{ item.ID | replace("_", ":") }}">{{ item.ID | replace("_", ":") }}  <span class="icon" style="color:hsl(272, 23%, 50%)"><i class="fas fa-sign-out-alt"></i></span></a>
                    </td>
      
                    {% endfor %}
                  
                </tr>
            </table>
			  {% endif %}
        </div>
    </section>
  
    {% endblock %}
{% block comp_script %}
<script>
$( document ).ready(function() {


    $('#diseasesinTable').dynatable({
  features: {
    paginate: true,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
    }
    });
});
</script>
{% endblock %}