{% extends "layout.jinja2" %}

        {% block title %}Amylome - Home{% endblock %}

        {% block more_scripts %}
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-graph.min.js"> </script>
<script src="{{request.static_url('amypdb:static/cytoscape.min.js')}}"></script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'> </script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'> </script>
        {% endblock %}

        {% block more_links %}
<link href="{{request.static_url('amypdb:static/mystyles_purple.css')}}" rel="stylesheet">
<link href="{{request.static_url('amypdb:static/cystoscype_stylecheet.css')}}" rel="stylesheet">

    {% endblock %}


    {% block content %}

    <section class="hero is-primary is-bold"> <!-- header check if same color as diseases pages -->
        <div class="hero-body">
            <div class="horizontal-margin">
                <div class="columns">
                    <div class="column is-three-quarters">
                        <h1 class="title">Results for the symptoms : </h1>
                        <h2 class="subtitle">{% for item in search_items %}{{ item }}, {% endfor %}
                        </h2>
                    </div>
                    <div class="column">&nbsp; </div>
                </div>
            </div>
        </div>
    </section>

    <!-- here body of page subdivsed in three part-->



    <!-- here results of search : diseases linked to all theses symptoms maybe should add partially rigth result ?-->
    <section class="section">
        <div class="columns">
            <div class="column">
                <div class="tabs">
                    <ul>
                        <li class="is-active">
                            <a>{{ global|length }} Disease{% if global|length > 1 %}s{% endif %} matching with
                                required phenotypes
                                <div class="icon has-tooltip-right"
                                     data-tooltip="here all diseases sharing all theses symptoms">
                                    <i class="fas fa-question-circle"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
	
        <!-- here result section table with : diseases_name, label, description, tag -->
        <div class="has-text-centered margin-bottom">
			<h2 class="title">Diseases</h2>
		</div>
            <center>
                {% if global|length<1 %} <!--if no results error message-->
                <br>
                No results found<br>
                <br>
                {% endif %} <!--fin des test nombres de maladies trouvées-->
            </center>
            <table id="diseasesinTable" class="table is-striped is-fullwidth">
                <thead> <!-- table headers-->
                    <th>Id</th>
                    <th>Disease</th>
                    <th>Description</th>
                    <th>Tag</th>
                </thead>
                {% if global|length > 0 %}
                {% for item in global %}
                <tr> <!-- fill for each column-->
                    <td>
                        <a href="{{ request.route_url(route_name='disease', itemId=item) }}">
                            {{item}}
                        </a>
                    </td>
                    <td>
                        <a href="{{ request.route_url(route_name='disease', itemId=item) }}">
                            {{ global[item].label }}
                        </a>
                    </td>
                    <td>{{ global[item].description|truncate(100,False) }}</td> <!--not done yet-->

                    <td> {%if global[item].qualifier != "" %}
                            {%if global[item].qualifier is iterable and global[item].qualifier is not string %}
                                    {% for tags in global[item].qualifier %}
                                        <span class="tag is-info">{{tags}}</span> {% endfor %}
                            {% endif %}
                            {%if global[item].qualifier is string %}
                            <span class="tag is-info">{{ global[item].qualifier}}</span>
                         {% endif %}
                        {% endif %}
                    </td>

      
                    {% endfor %}
                    {% endif %}
                </tr>
            </table>
        </div>
    </section>
    <!-- here visual representation of the result diseases and the known proteins implicated and their possible link
    use of module anychart for the visualisation -->
    <section class="section">
        <div class="columns">
            <div class="column">
                <div class="tabs">
                    <ul>
                        <li class="is-active">
                            <a>Protein - Diseases representation
                                <div class="icon has-tooltip-right"
                                     data-tooltip="here clusters(display only groups with more than 2 links) of proteins related to these disease
                                     By placing the cursor over a node you can access the name of the disease/protein">
                                    <i class="fas fa-question-circle"> </i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <section class="section">
                    <div class="columns">
                        <div class="column">
                            <div class="container  is-fluid has-background-light">
                                <br>
                                <div class="smallmarg is-fluid">
                                    <div id="container_prot_symptom" style="width: 100%;height: 600px;"> </div>
                                    <br>
                                </div>
                                <div class="smallmarg is-fluid">
                                    <div id="container_prot_legend" style="width: 100%;height: 100%"> </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
<!-- here visual representation of the result diseases and the known gene implicated and there possible link only
display group with more than 2 interaction use of module anychart for the visualisation -->
     <section class="section">
        <div class="columns">
            <div class="column">
                <div class="tabs">
                    <ul>
                        <li class="is-active">
                            <a>Gene - Diseases representation
                                <div class="icon has-tooltip-right"
                                     data-tooltip="here clusters(display only groups with more than 2 links) of genes related to these disease
                                     By placing the cursor over a node you can access the name of the disease/gene">
                                    <i class="fas fa-question-circle"> </i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <section class="section">
                    <div class="columns">
                        <div class="column">
                            <div class="container  is-fluid has-background-light">
                                <br>
                                <div class="smallmarg is-fluid">
                                    <div id="container_gene" style="width: 100%;height: 600px;"> </div>
                                    <br>
                                </div>
                                <div class="smallmarg is-fluid">
                                    <div id="container_gene_legend" style="width: 100%;height: 100%"> </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>


    {% endblock content %}


    {% block comp_script %}
<!-- display header of content blocs like "your search:" -->
    <script>
        function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("for-display");
        for (i = 0; i< tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("searchTab");
        for (i = 0; i< tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace("is-active", "");
        }

        searchTabInputs = document.getElementsByClassName("searchTabInput");
        for (i=0; i< searchTabInputs.length;i++) {
        searchTabInputs[i].value = "";
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " is-active";

        }

        function insertLabel(label,eltId) {
        document.getElementById(eltId).value = label;
        }
    </script>
  <!-- enable the creation of a table for the results  -->
    <script>
        $( document ).ready(function() {
        $('#diseasesinTable').dynatable({
        features: {
        paginate: true,
        sort: true,
        pushState: true,
        search: false,
        recordCount: true,
        perPageSelect: true
        },
        dataset: {
        perPageOptions: [10,20,50,100,150,200] },
        });
        });

    </script>

    <!-- script anychart for the protein/disease network graph   -->
    <script>

        anychart.onDocumentReady(function () {

        // data
        var data = {{ nodeschart|safe}};

        // set chart type
        chart = anychart.graph(data);

        //layout
        //chart.layout().type("forced");
        // legend settings
        var legend = anychart.standalones.legend();
        // enable legend
        //definition of each color meaning WARNING anuchart seems to have a issue with colors doesn't appear as they sould
        // it solution is a provisoir fix could go bad if anychart updates
        legend.itemsFormatter(function () {
        return [
            {text: 'Diseases', iconFill: '#F44336'},
            {text: 'Protein tagged Variant only', iconFill: '#64b5f6', iconType: 'circle'},
            {text: 'Protein tagged Amyloid', iconFill: '#ffd54f', iconType: 'circle'},
            {text: 'Protein tagged Involved in amyloidosis', iconFill: '#455a64', iconType: 'circle'},
            {text: 'Protein tagged Amylome Interactor', iconFill: '#96a6a6', iconType: 'circle'},
            {text: 'Protein tagged Pathogenic ', iconFill: anychart.palettes.defaultPalette[1], iconType: 'circle'},
            {text: 'Other protein', iconFill:anychart.palettes.defaultPalette[6] , iconType: 'circle'},
        ]
         });
        // set the container for the legend
        legend.container("container_prot_legend");
        // draw the legend
        legend.draw();

        // enable tooltips of nodes
        chart.nodes().tooltip().useHtml(true);
        // formating tooltips : name id - group prot/disease
        {% raw %}chart.nodes().tooltip().format(
        "<span style='font-weight:bold'>{%name}</span><br>type : {%description}"
        );{% endraw %}


        // set settings for each group

        chart.group('Disease').shape('rectangle');
        chart.group('Disease').fill(anychart.palettes.defaultPalette[2]);
        // use of if because if the ca
        {% if 'Variants only' in list_tag_used %}
        chart.group('Variants only').shape('circle');
        chart.group('Variants only').fill(anychart.palettes.defaultPalette[0]);
        {% endif %}
        {% if 'Amyloid' in list_tag_used %}
        chart.group('Amyloid').shape('circle');
        chart.group('Amyloid').fill(anychart.palettes.defaultPalette[3]);
        {% endif %}
        {% if 'Involved in amyloidosis' in list_tag_used %}
        chart.group('Involved in amyloidosis').shape('circle');
        chart.group('Involved in amyloidosis').fill(anychart.palettes.defaultPalette[4]);
        {% endif %}
        {% if 'Amylome Interactor' in list_tag_used %}
        chart.group('Amylome Interactor').shape('circle');
        chart.group('Amylome Interactor').fill(anychart.palettes.defaultPalette[5]);
        {% endif %}
        {% if 'Pathogenic ' in list_tag_used %}
        chart.group('Pathogenic ').shape('circle');
        chart.group('Pathogenic ').fill(anychart.palettes.defaultPalette[1]);
        {% endif %}
        {% if 'Other' in list_tag_used %}
        chart.group('Other ').shape('circle');
        chart.group('Other ').fill(anychart.palettes.defaultPalette[6]);
        {% endif %}



        // display a chart
        chart.container("container_prot_symptom").draw();
        });
    </script>

    <!-- script anychart for the gene/disease network graph   -->
    <script>
        anychart.onDocumentReady(function () {
        // data

        var data = {{ nodeschart_g|safe}};

        // set chart type
        chart = anychart.graph(data);

        // enable labels of nodes
        chart.nodes().tooltip().useHtml(true);
        // formating tooltips : name id - group gene/disease
        {% raw %}chart.nodes().tooltip().format(
        "<span style='font-weight:bold'>{%name}</span><br>group: {%group}"
        );{% endraw %}

        // set settings for each group
        chart.group('Gene').shape('circle');
        chart.group('Gene').fill(anychart.palettes.defaultPalette[8]);
        chart.group('Disease').shape('rectangle');
        chart.group('Disease').fill(anychart.palettes.defaultPalette[2]);

        // legend settings
        var legend = anychart.standalones.legend();
        // enable legend
        //definition of each color meaning WARNING anuchart seems to have a issue with colors doesn't appear as they sould
        // it solution is a provisoir fix could go bad if anychart updates
        legend.itemsFormatter(function () {
        return [
            {text: 'Diseases', iconFill: anychart.palettes.defaultPalette[2]},
            {text: 'Gene', iconFill: anychart.palettes.defaultPalette[8], iconType: 'circle'},
        ]
         });
        // set the container for the legend
        legend.container("container_gene_legend");
        // draw the legend
        legend.draw();
        // display a chart
        chart.container("container_gene").draw();
        });
    </script>


    {% endblock comp_script %}