{% extends "layout.jinja2" %}


{% block title %}Amypdb - Protein - {{ mainInfo["label"] }} {% endblock %}

{% block more_scripts %}




<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-cartesian.min.js"> </script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-exports.min.js"> </script>

<!--
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>
-->

<!--<script src="http://ebi-uniprot.github.io/CDN/protvista/protvista.js"></script>-->
<script src="http://ebi-uniprot.github.io/CDN/protvista/protvista.js"> </script>
<script src="//www.ebi.ac.uk/pdbe/pdb-component-library/libs/d3.min.js"></script>
<script src="//www.ebi.ac.uk/pdbe/pdb-component-library/libs/angular.1.4.7.min.js"></script>
<script src="//www.ebi.ac.uk/pdbe/pdb-component-library/v1.0/js/pdb.component.library.min-1.0.0.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/calipho-sib/feature-viewer@v1.0.6/dist/feature-viewer.min.css" />
<script src="{{request.static_url('amypdb:static/feature-viewer.nextprot.js', _scheme='https')}}"></script>

<script>
function addPubMedLink(mytext) {
mytext = mytext.replace(/(PubMed)(:)([0-9]*)/gi, '<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/$3">$1$2$3 <span class="icon" style="color:hsla(210, 15%, 100%, 0.85)"><i class="fas fa-sign-out-alt"></i></span></a>');
return mytext;
}
</script>
{% endblock %}

{% block more_links %}

<link rel="stylesheet" href="//www.ebi.ac.uk/pdbe/pdb-component-library/v1.0/css/pdb.component.library.min-1.0.0.css" />
<link href="http://ebi-uniprot.github.io/CDN/protvista/css/main.css" rel="stylesheet"/>

<link href="{{request.static_url('amypdb:static/mystyles_bluegreen.css', _scheme='https')}}" rel="stylesheet">
{% endblock %}


{% block content %}

</style>

<section class="hero is-primary is-bold">
    <div class="horizontal-margin" >
    <div class="hero-body">
      <div class="columns">
         <div class="column is-three-fifths">
        <h1 class="title" style="margin-top: 20px;">PROTEIN<br />{{ mainInfo["label"] }}</h1>
        {% set labels = mainInfo["altList"] %}
        {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
        <p class="alt_labels">Alternative labels :  {{ labels }}  </p>
       {% set descript = mainInfo["description"] %}
       {% if descript|length > 800 %}

 <script>
var text1 = "{{ descript|truncate(800,True) }}";
var text2 = "{{ descript[796:] }}";
text1 = addPubMedLink(text1);
text2 = addPubMedLink(text2);
</script>

       <input type="checkbox" class="read-more-state" id="post-1" />
        <h2 class="subtitle read-more-wrap"><script>document.write(text1)</script> <span class="read-more-target"><script>document.write(text2)</script></span> (Source : <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) </h2>
        <label for="post-1" class="read-more-trigger"></label>

        {% else %}

 <script>
var text3 = "{{ descript }}";
text3 = addPubMedLink(text3);
</script>
        <h2 class="subtitle"><script>document.write(text3)</script> (Source : <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) </h2>
        {% endif %}

           </div>

           <div class="column has-text-right">
           <h2 class="subtitle" style="margin-top: 20px;margin-bottom:40px"><b>Organism : </b> {{ mainInfo["organism"] }} </h2>
           {% set tags = mainInfo["qualiList"].split("|") %}
            {% for tag in tags %}
			<a href="{{ request.route_url(route_name='protein_amy', itemId=itemId) }}#amy">
            <span class="hero_tag" >{{ tag }}</span><br />
			</a>
             {% endfor %}     
           </div>

        </div><!-- end columns -->
</div><!-- end hero-body -->

<div class="hero-foot">

   <div style="margin-left: 2rem">
    <nav class="tabs is-boxed ">
        <ul>

          <li class="is-active heroTab" id="seq" >
            <a>Isoforms and variants</a>
          </li>
		         
          <li class="heroTab" id="bio">
            <a href="{{ request.route_url(route_name='protein_bio', itemId=itemId) }}#bio" class="with-loader">Genes and transcripts</a>
          </li>
		 <!-- <li class="heroTab"><a href="{{ request.route_url(route_name='protein_var', itemId=itemId) }}#var"> Variants </a></li> -->
       
          <li class="heroTab" id="patho">
            <a href="{{ request.route_url(route_name='protein_patho', itemId=itemId) }}#patho" class="with-loader">Related diseases</a>
          </li>
          <li class="heroTab" id="pub">
            <a href="{{ request.route_url(route_name='protein_pub', itemId=itemId) }}#pub" class="with-loader">Publications</a>
          </li>
		     <li class="heroTab" >
            <a href="{{ request.route_url(route_name='protein_amy', itemId=itemId) }}#amy" class="with-loader">Annotation report</a>
          </li>
        </ul>
    </nav>
</div>

</div>

</div> <!-- end hmargin -->

  </section>


  <div id="loader" style="display:none;position: relative;top:40px;width:100%;z-index:999999"><center><div class="icon is-large"  style="font-size: 20px;color:#01788d"><i class="fas fa-spinner fa-spin fa-3x"></i></div></center></div>


<section class="section">


<div class="has-text-centered is-primary" >
<h2 class="title greyblue">Overview</h2>

{% if isoDict|length > 1 %}
<div class="is-size-5"> {{ mainInfo["label"] }} has {{ isoDict|length }} isoforms. The canonical isoform is {{ isoCanoLabel }}</div>
{% else %}
<div class="is-size-5">{{ mainInfo["label"] }} has {{ isoDict|length }} isoform. The canonical isoform is {{ isoCanoLabel }}</div>
{% endif %}
<br />

<div id="containTableShort" style="display:block" >

<table id="seqTableShort" class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>Isoform</th>
            <th>Length</th>
            <th>Nb hotspots</th>
			<th>Max hexapeptide score</th>
            <th>Instability Index</th>
            <th>Molecular weight</th>
            <th>Isoelectric Point</th>
			<th>Aromaticity</th>
            <th>Matching signatures</th>
        </tr>
    </thead>
    <tbody>

       
       
{% for item in isoDict %} 


         <tr>
            <td><span class="tag is-primary">{{ item.isoAcc }}</span></td>
            <td>{{ item.isoLength }}</td>
            <td >{{ item.nbHS }}</td>
			 <td >{{ item.maxScore }}</td>
            <td >{{ item.isoInstability  }}</td>
             <td >{{ item.isoMolWeight }}</td>
              <td >{{ item.isoElectricPoint }}</td>
			    <td >{{ item.isoAromaticity  }}</td>
            <td><div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>{{ item.nbSignature }}</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content" style="width:420px;position:relative;left:-200px">
      <div class="dropdown-item" style="width:420px">
        <p>{{ item.signInfoList|safe }}</p>
      </div>
    </div>
  </div>
</div> </td>
        </tr>
   

 {% endfor %}
    </tbody>
</table>
<br />

</div>




<div class="has-text-centered is-primary margin-bottom">
<div class="is-size-5"><br />Amino acid variants</div>
<div class="horizontal-margin">Amino acid variants with their potential impact (source : Uniprot) </div>
</div>
<div align="center">
    <div id="viewer" width="1000"> </div>
</div>
<script>
    window.onload = function() {
    var yourDiv = document.getElementById('viewer');
    var ProtVista = require('ProtVista');
    var instance = new ProtVista({
    el: yourDiv,
    uniprotacc: '{{ itemId }}',

    //These categories will **not** be rendered at all
    exclusions:
    ['PROTEOMICS','SEQUENCE_INFORMATION','ANTIGEN','MOLECULE_PROCESSING','STRUCTURAL','PTM','DOMAINS_AND_SITES','TOPOLOGY']
    });
	
	      
	

   }
   
   

</script>


<div align="center" >
<a class="button" style="width:480px" href="https://cancer.sanger.ac.uk/cosmic/search?q={{ itemId }}" target="_blank"> Check SNVs in &nbsp; <b>Cosmic</b> <span style="color:white">...</span><span class="icon is-small"><i class="fas fa-sign-out-alt"></i></span></a>
</div>
<br />
<div align="center" >
<a class="button" style="width:480px" href="https://www.saavpedia.org/saavidentifier/" target="_blank"> Check amino acid variants in &nbsp; <b>SAAVpedia</b> <span style="color:white">...</span><span class="icon is-small"><i class="fas fa-sign-out-alt"></i></span></a>
</div>



</section>


<section class="section">

<div class="has-text-centered is-primary" align="center"> 
<h2 class="title greyblue">Detailed information for {{ isoCanoLabel }} </h2>
<div class="is-size-5"><br />Isoform sequence and associated features.</div>
<div class="horizontal-margin">The hotspots have been predicted with Metamyl. Disordered elements and solvent accessibility have been predicted with RaptorX (threshold 0.7). <br />Other features are integrated to Nextprot feature viewer.</div>
<br /><br />
<div class="columns">
<div class="column" id="nxview" width="1000px"></div>
</div>

{% if mainInfo["organism"] == "Homo sapiens" %}



<script>

//initalize nextprot Client
var applicationName = 'amyp'; //please provide a name for your application
var clientInfo='amyp'; //please provide some information about you
var nx = new Nextprot.Client(applicationName, clientInfo);
        

var isoform = "NX_{{ isoCanoLabel }}";

// feature viewer options
var options = {showAxis: true, showSequence: true,
brushActive: true, toolbar:true,
bubbleHelp: true, zoomMax:20, showFilter:true };

var dataAmyp = {{ hsaviewer|safe }};
 var dataDiso = {{ diso|safe }};
 var dataSolvent = {{ solvent|safe }};

                    
// Init nextprot feature viewer
nxFeatureViewer(nx, isoform, "#nxview", options)
    .then(function(ff){
    //(ff is here an instance of the feature viewer with few more methods)
	
	ff.addFeature({
    data: dataAmyp,
    name: "HotSpots (Metamyl)",
    className: "Hotspots",
    color: "#01788d",
    type: "line",
    filter: "Hotspots",
    height: "6"
});

ff.addFeature({
    data: dataDiso,
    name: "Disordered (RaptorX)",
    className: "diso",
    color: "#008B8D",
    type: "rect",
    filter: "Disorder"
});

ff.addFeature({
    data: dataSolvent,
    name: "Solvent accessibility (RaptorX)",
    className: "solv",
    color: "#008B8D",
    type: "rect",
    filter: "Solvent"
});


	
//	var substyle = [
 //       {name: "Beta strand",className: "beta",color: "#008B8D",type: "rect",filter:"Region"},
//		{name: "Coiled-coil region",className: "coil",color: "#008B8D",type: "rect",filter:"Region"},
//      {name: "Helix",className: "helix",color: "#008B8D",type: "rect",filter:"Region"}	
//     ];
//  ff.addNxFeature(["beta-strand","coiled-coil-region","helix"], substyle);  

	
	
var styles3 = [
        {name: "Transmembrane region",className: "trs",color: "#008B8D",type: "rect",filter:"Region"},
		{name: "Intramembrane region",className: "intram",color: "#008B8D",type: "rect",filter:"Region"}	
     ];
    ff.addNxFeature(["transmembrane-region","intramembrane-region"], styles3);  

    var styles = [
        {name: "Propeptide",className: "pro",color: "#B3B3C2",type: "rect",filter:"Processing"}, 
        {name: "Mature protein",className: "mat",color: "#B3B3C2",type: "rect",filter:"Processing"}
	     ]; 
    ff.addNxFeature(["propeptide","mature-protein"], styles);	
	
	
		var styles2 = [
		{name: "Disulfide bond",className: "dsB",color: "rgba(0,255,154,0.3)",type: "path",filter:"Site"},
{name: "Variant",className: "variant",color: "rgba(0,255,154,0.3)",type: "unique",filter:"Variant"}
		];


	ff.addNxFeature(["disulfide-bond","variant"], styles2);	

	

});

</script>

 {% else %}
 <script>
 
 var dataAmyp = {{ hsaviewer|safe }};
 var dataDiso = {{ diso|safe }};
 var dataSolvent = {{ solvent|safe }};
 
 //Create a new Feature Viewer and add some rendering options
var ft2 = new FeatureViewer("{{ isoDict.0.isoSeq }} ","#nxview", {
    showAxis: true,
    showSequence: true,
    brushActive: true,
    toolbar:true,
    bubbleHelp:true,
    zoomMax:10
            });

//Add some features
	ft2.addFeature({
    data: dataAmyp,
    name: "HotSpots (Metamyl)",
    className: "Hotspots",
    color: "#01788d",
    type: "line",
    filter: "Hotspots",
    height: "6"
});

ft2.addFeature({
    data: dataDiso,
    name: "Disordered (raptorX)",
    className: "diso",
    color: "#008B8D",
    type: "rect",
    filter: "Disorder"
});
ft2.addFeature({
    data: dataSolvent,
    name: "Solvent accessibility (raptorX)",
    className: "solv",
    color: "#008B8D",
    type: "rect",
    filter: "Solvent"
});

 
 
 </script>
 
 {% endif %}

</section>





<section class="section">
<div class="columns">
 <div class="column smallmarg has-text-centered">
 <div class="is-size-5">List of hotspots as predicted by Metamyl</div>
                        
                        <div id="container_hsa" style="width: 100%;height: 300px;"> </div>
                        <br />
						<div align="center"><button class="button is-primary" onclick="download()">Download to CSV</button></div>
</div>
             
 </div>

</section>			
			

<section class="section">
<div class="columns">
<div class="column is-two-thirds has-text-centered" align="center">
{% if bestPdbId != "" %}
<div class="is-size-5">List of PDB structures associated to {{ mainInfo["label"] }} <br /><br /></div>

<script>
(function () {
'use strict';
angular.element(document).ready(function () {
    angular.bootstrap(document, ['pdb.component.library']);
});
}());
</script>
<!--<pdb-lite-mol pdb-id="'1cbs'"></pdb-lite-mol>-->
<pdb-uniprot-viewer entry-id="{{ itemId }}" width="800" height="300"></pdb-uniprot-viewer>

{% endif %}
</div>

<div class="column has-text-centered" align="center">

{% if bestPdbId != "" %}
<div class="is-size-5">PDB structure <br /><br /> </div>
<div style="position:relative;height:300px;width:100%;margin: auto">
<pdb-lite-mol pdb-id="'{{ bestPdbId }}'" hide-controls="true" ></pdb-lite-mol>
</div>
</div>
</div>
{% endif %}

</section>


{% endblock content %}

{% block comp_script %}


 <script>
 $('.with-loader').on('click', function(){
       document.getElementById("loader").style.display = "block";
    });

$(window).bind("pageshow", function(event) {
    document.getElementById("loader").style.display = "none";
});
 </script>

<script>
        anychart.onDocumentReady(function () {
        // data

        var data_hsa = {{ hsa|safe }};

        // set chart type
        chart = anychart.line(data_hsa);

        // set chart title
        //chart.title("Normalised Hot Spot Area");

        // set x axe mode to get rid or gap at beginning and end
        chart.xScale().mode('continuous');
        var labels = chart.xAxis().labels();
        //labels.enabled(true);

        //"zoomable"
        //chart.xScroller(true);

        //set chart y axe title
        chart.yAxis().title('Normalized hot spot area');
		
		var yScale = chart.yScale();
		yScale.minimum(0);
		yScale.softMaximum(0.1);
		

        // do point on line
        //chart.getSeries(0).markers(true);

        // display a chart
        chart.container("container_hsa").draw();
        });

        // save chart data in csv format
        function csv1() {
        chart.saveAsCsv("specific");
        };

</script>



{% endblock %}
