{% extends "layout.jinja2" %}


{% block title %}Amypdb - Protein - {{ mainInfo["label"] }} {% endblock %}

{% block more_scripts %}
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>

<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-sankey.min.js"></script> 
  <script> anychart.licenseKey("laurence.noel@etudiant.univ-rennes1.fr-aa5a1d9-129cd39"); </script>

<script src="http://ebi-uniprot.github.io/CDN/protvista/protvista.js"></script>


<script>
function addPubMedLink(mytext) {
mytext = mytext.replace(/(PubMed)(:)([0-9]*)/gi, '<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/$3">$1$2$3 <span class="icon" style="color:hsla(210, 15%, 100%, 0.85)"><i class="fas fa-sign-out-alt"></i></span></a>');
return mytext;
}
</script>
{% endblock %}

{% block more_links %}

   <link href="http://ebi-uniprot.github.io/CDN/protvista/css/main.css" rel="stylesheet"/>
       <link href="{{request.static_url('amypdb:static/mystyles_bluegreen.css', _scheme='https')}}" rel="stylesheet">
{% endblock %}


{% block content %}


<!--<div class="is-divider" ></div> -->

 <section class="hero is-primary is-bold">
     <div class="horizontal-margin" >
     <div class="hero-body">

      <div class="columns">
         <div class="column is-three-quarters">
        <h1 class="title" style="margin-top: 20px;">PROTEIN<br />{{ mainInfo["label"] }}</h1>
        {% set labels = mainInfo["altList"] %}
        {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
        <p class="alt_labels">Alternative labels :  {{ labels }}  </p>
       {% set descript = mainInfo["description"] %}

       {% if descript|length > 800 %}

 <script>
var text1 = "{{ descript|truncate(800,True) }}";
var text2 = "{{ descript[796:] }}";

text1 = addPubMedLink(text1);
text2 = addPubMedLink(text2);

</script>
       <input type="checkbox" class="read-more-state" id="post-1" />
        <h2 class="subtitle read-more-wrap"><script>document.write(text1)</script> <span class="read-more-target"><script>document.write(text2)</script></span> (Source : <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) </h2>
        <label for="post-1" class="read-more-trigger"></label>

        {% else %}

 <script>
var text3 = "{{ descript }}";
text3 = addPubMedLink(text3);
</script>
        <h2 class="subtitle"><script>document.write(text3)</script> (Source : <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) </h2>


        {% endif %}

           </div>

           <div class="column has-text-right">
           <h2 class="subtitle" style="margin-top: 20px;margin-bottom:40px"><b>Organism : </b> {{ mainInfo["organism"] }} </h2>
           {% set tags = mainInfo["qualiList"].split("|") %}
            {% for tag in tags %}
			<a href="{{ request.route_url(route_name='protein_amy', itemId=itemId) }}#amy">
            <span class="hero_tag" >{{ tag }}</span><br />
			</a>
             {% endfor %}     
           </div>

        </div><!-- end columns -->


</div><!-- end hero-body -->

<div class="hero-foot">

<div style="margin-left: 2rem">
    <nav class="tabs is-boxed ">
      
        <ul>


          <li class="heroTab"  >
            <a href="{{ request.route_url(route_name='protein_seq', itemId=itemId) }}#seq" id="seq" class="with-loader">Isoforms and variants</a>
          </li>
          <li class="is-active heroTab" id="bio">
            <a>Genes and transcripts</a>
          </li>
          <li class="heroTab">
            <a href="{{ request.route_url(route_name='protein_patho', itemId=itemId) }}#patho" id="patho" class="with-loader">Related diseases</a>
          </li>
          <li class="heroTab">
            <a href="{{ request.route_url(route_name='protein_pub', itemId=itemId) }}#pub" id="pub" class="with-loader">Publications</a>
          </li>
		            <li class="heroTab" >
            <a href="{{ request.route_url(route_name='protein_amy', itemId=itemId) }}#amy" class="with-loader">Annotation report</a>
          </li>
        </ul>
         </nav>
</div>

</div>

</div> <!-- end hmagin -->

  </section>

  <div id="loader" style="display:none;position: relative;top:40px;width:100%;z-index:999999"><center><div class="icon is-large"  style="font-size: 20px;color:#01788d"><i class="fas fa-spinner fa-spin fa-3x"></i></div></center></div>


<section class="section">
 

<div class="has-text-centered is-primary margin-top margin-bottom" >
<h2 class="title greyblue">Overview</h2>
{% set genes = mainInfo["geneList"].split("|") %}
          
<div class="is-size-5"> {{ mainInfo["label"] }} is encoded by the gene{% if genes|length > 1 %}s{% endif %}   
{% for gene in genes %}
{% set item = gene.split("::") %}
&nbsp;<a href="https://www.ensembl.org/id/{{ item[0] }}" target="_blank">{{ item[1] }} <span class="icon" style="color:#5ba2b3"><i class="fas fa-sign-out-alt"></i></span></a>
{% endfor %}
<div class="is-size-6">Relationships between genes, transcripts, isoforms, processed molecules and macromolecular complexes related to this protein are shown below</div></div>
</div>

   <div id="sankey" style="height:300px;width:100%">
   </div>

<div id="sankey_legend" style="height:80px"></div>

</section>


<section class="section"> 
<div class="has-text-centered is-primary margin-bottom" > 
<h2 class="title greyblue">Sequence viewer : molecule processing</h2>
<div class="is-size-5">Processed molecules derived from the canonical isoform of {{ mainInfo["label"] }} </div>
</div>

<div align="center">
<div id="viewer" width="100%"></div>
</div>
<script>
    window.onload = function() {
        var yourDiv = document.getElementById('viewer');
        var ProtVista = require('ProtVista');
        var instance = new ProtVista({
            el: yourDiv,
            uniprotacc: '{{ itemId }}',

            //These categories will **not** be rendered at all
            exclusions: ['PROTEOMICS','SEQUENCE_INFORMATION','ANTIGEN','VARIATION','STRUCTURAL','MUTAGENESIS','PTM','DOMAINS_AND_SITES','TOPOLOGY']
        });

}



</script>


</section>










{% endblock content %}

{% block comp_script %}

 <script>
 $('.with-loader').on('click', function(){
       document.getElementById("loader").style.display = "block";
    });

$(window).bind("pageshow", function(event) {
    document.getElementById("loader").style.display = "none";
});
 </script>

<script>




// create a chart and set the data


var jsond = {{ data|tojson|safe }};
 

var keyCount  = Object.keys(jsond).length;

if (keyCount < 6) {
  document.getElementById("sankey").style.height = "100px";
} else if ((keyCount >=6) && (keyCount < 12 )) {
 document.getElementById("sankey").style.height = "300px";
} else if ((keyCount >=12) &&  (keyCount < 24 )) {
  document.getElementById("sankey").style.height = "600px";
} else if ((keyCount >=24) && (keyCount < 40 )) {
 document.getElementById("sankey").style.height = "900px";
} else if ((keyCount >= 40) && (keyCount < 50 )) {
document.getElementById("sankey").style.height = "1200px";
} else {
 document.getElementById("sankey").style.height = "1600px";
} 

var chart = anychart.sankey(jsond);
//https://playground.anychart.com/Uu4y1dZt/0
var nodeColors = {{  colors|tojson|safe }}




// styling 
chart.curveFactor(0.3);
chart.nodeWidth("45%");
chart.nodePadding(16);

var legend = anychart.standalones.legend();
legend.container("sankey_legend");
// push legend items to the array
var legend_items = {{ legend|tojson|safe }}

// add items to the legend
legend.items(legend_items);
legend.draw();

//configure the visual settings of nodes
//chart.node().normal().fill("#64b5f6 0.5");
chart.node().fill(function() {
    return nodeColors[this.name] || this.sourceColor;
});
//chart.node().hovered().fill(anychart.color.darken("#64b5f6"));
chart.node().hovered().fill(function() {
    return anychart.color.darken(nodeColors[this.name]) || anychart.color.darken(this.sourceColor);
});
chart.node().normal().stroke("#949899", 1);

// configure the visual settings of flows
//chart.flow().normal().fill("#ffa000 0.4");
chart.flow().hovered().fill(anychart.color.darken("#6f8295"));
chart.flow().tooltip().enabled(false);
//chart.flow().hovered().stroke("#455a64");

// configure the visual settings of dropoffs
chart.dropoff().normal().fill(
  {keys: ["#fff 0.7", "#fff 0.7"], angle: 90}
);
chart.dropoff().hovered().stroke("#fff");
chart.dropoff().stroke("#fff");
//chart.dropoff().hovered().tooltip.enabled(false);
chart.node().labels().useHtml(true);
chart.node().labels().width(100);
chart.node().labels().wordWrap("break-word");
chart.node().labels().wordBreak("normal");
chart.node().labels().format(
"<div style='color: white;font-weight:bold;'>{{ '{%name}' }}</div>"
);

// set the container id
chart.container("sankey");
chart.draw();





</script>










{% endblock %}

