{% extends "layout.jinja2" %}


{% block title %}Amypdb - Protein - {{ mainInfo["label"] }} {% endblock %}

{% block more_scripts %}
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>
<script src="http://ebi-uniprot.github.io/CDN/protvista/protvista.js"></script>


<script>
function addPubMedLink(mytext) {
mytext = mytext.replace(/(PubMed)(:)([0-9]*)/gi, '<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/$3">$1$2$3 <span class="icon" style="color:hsla(210, 15%, 100%, 0.85)"><i class="fas fa-sign-out-alt"></i></span></a>');
return mytext;
}
</script>
{% endblock %}

{% block more_links %}

   <link href="http://ebi-uniprot.github.io/CDN/protvista/css/main.css" rel="stylesheet"/>
      <link href="{{request.static_url('amypdb:static/mystyles_bluegreen.css', _scheme='https')}}" rel="stylesheet">
{% endblock %}


{% block content %}


<!--<div class="is-divider" ></div> -->


  <section class="hero is-primary is-bold">
      <div class="horizontal-margin" >
    <div class="hero-body">

      <div class="columns">
         <div class="column is-three-quarters">
        <h1 class="title" style="margin-top: 20px;">PROTEIN<br />{{ mainInfo["label"] }}</h1>
        {% set labels = mainInfo["altList"] %}
        {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
        <p class="alt_labels">Alternative labels :  {{ labels }}  </p>
       {% set descript = mainInfo["description"] %}

       {% if descript|length > 800 %}

 <script>
var text1 = "{{ descript|truncate(800,True) }}";
var text2 = "{{ descript[796:] }}";

text1 = addPubMedLink(text1);
text2 = addPubMedLink(text2);

</script>
       <input type="checkbox" class="read-more-state" id="post-1" />
        <h2 class="subtitle read-more-wrap"><script>document.write(text1)</script> <span class="read-more-target"><script>document.write(text2)</script></span> (Source : <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) </h2>
        <label for="post-1" class="read-more-trigger"></label>

        {% else %}

 <script>
var text3 = "{{ descript }}";
text3 = addPubMedLink(text3);
</script>
        <h2 class="subtitle"><script>document.write(text3)</script> (Source : <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) </h2>


        {% endif %}

           </div>

           <div class="column has-text-right">
           <h2 class="subtitle" style="margin-top: 20px;margin-bottom:40px"><b>Organism : </b> {{ mainInfo["organism"] }} </h2>
           {% set tags = mainInfo["qualiList"].split("|") %}
            {% for tag in tags %}
			<a href="{{ request.route_url(route_name='protein_amy', itemId=itemId) }}#amy">
            <span class="hero_tag" >{{ tag }}</span><br />
			</a>
             {% endfor %}     
           </div>

        </div><!-- end columns -->


</div><!-- end hero-body -->

<div class="hero-foot">

  <div style="margin-left: 2rem">
    <nav class="tabs is-boxed ">

        <ul>
    

          <li class="heroTab" id="seq" >
            <a href="{{ request.route_url(route_name='protein_seq', itemId=itemId) }}#seq" class="with-loader">Isoforms and variants</a>
          </li>
		            <li class="heroTab" id="bio">
            <a href="{{ request.route_url(route_name='protein_bio', itemId=itemId) }}#bio" class="with-loader">Genes and transcripts</a>
          </li>
          <li class="heroTab is-active" id="patho">
            <a>Related diseases</a>
          </li>
          <li class="heroTab" id="pub">
            <a href="{{ request.route_url(route_name='protein_pub', itemId=itemId) }}#pub" class="with-loader">Publications</a>
          </li>
		        <li class="heroTab" >
            <a href="{{ request.route_url(route_name='protein_amy', itemId=itemId) }}#amy" class="with-loader">Annotation report</a>
          </li>
        </ul>

    </nav>
</div>

</div>

</div> <!-- end container -->


  </section>


  <div id="loader" style="display:none;position: relative;top:40px;width:100%;z-index:999999"><center><div class="icon is-large"  style="font-size: 20px;color:#01788d"><i class="fas fa-spinner fa-spin fa-3x"></i></div></center></div>

<section class="section">
<div class="has-text-centered is-primary margin-bottom" > 

{% if disDict|length <= 1 and  disDict[0].diseaseLabel == "" and disComment|length < 1 %}
<!--<div> No diseases directly associated to the protein {{ mainInfo["label"] }} in Uniprot </div>-->
 {% else %}
<h2 class="title">Diseases associated to the protein</h2>
<div class="is-size-5"> Diseases directly associated to the protein {{ mainInfo["label"] }} in Uniprot </div>
{% endif %}
</div>

{% if disDict|length > 0 and disDict[0].diseaseLabel != "" %}


<table id="diseaseTable" class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th style="width:20%">Disease</th>
            <th style="width:35%">Description</th>
            <th style="width:30%">Comment</th>
            <th style="width:15%">Publications</th>
        </tr>
    </thead>
    <tbody>
        
       
{% for item in disDict %}

        <tr>
        {% if item.diseaseId != "" %}
            <td><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel }}</a></td>
        {% else %}
                   <td>{{ item.diseaseLabel }}</td>
          {% endif %}
            <td>{{ item.diseaseDesc }}</td>
            <td>{{ item.diseaseCom }}</td>
            <td>{{ item.pubList|safe }}</td>
        </tr>
   

 
 {% endfor %}
    </tbody>
</table>
{% endif %}

{% if disComment|length > 0 %}
{% for comment in disComment %}
{% if comment["disComment"] != "The disease is caused by mutations affecting the gene represented in this entry." %}
<p>{{ comment["disComment"] }}<br /><br /></p>
{% endif %}
{% endfor %}
{% endif %}

<div class="has-text-centered is-primary margin-top margin-bottom" > 

{% if variantDict|length < 1 %}
<!--<div> No diseases associated to variants of the protein {{ mainInfo["label"] }} found in Disgenet  </div>-->
{% else%}
<br />
<h2 class="title"  id="variant_dis">Diseases associated to amino acid variants of the protein</h2>
<div class="is-size-5"> Diseases associated to variants of the protein {{ mainInfo["label"] }} in Disgenet. </div><div>The variant-disease association score is explained <a href="https://www.disgenet.org/dbinfo#section32" target="_blank">here</a>  </div>
{% endif %}
</div>

{% if variantDict|length > 0 %}


<table id="variantTable" class="table is-striped is-fullwidth">
    <thead>
        <tr>
        	<th style="width:20%">Disease</th>
            <th style="width:12%">Variant</th>
			<th style="width:10%">Mutation</th>
            <th>Description</th>
            <th style="width:8%">Score <span class="icon has-tooltip-left has-tooltip-multiline"
                                 data-tooltip="Scores for variant-disease associations range from 0 to 1, and take into account the number and type of sources (level of curation, model organisms), and the number of publications supporting the association.">
                                <i class="fas fa-question-circle"></i></span></th>
        </tr>
    </thead>
    <tbody>
        
       
{% for item in variantDict %}

        <tr>
        {% if item.disId != "" %}
            <td><a href="{{ request.route_url(route_name='disease', itemId=item.disId) }}">{{ item.disLabel }}</a></td>
        {% else %}
                   <td>{{ item.disLabel }}</td>
          {% endif %}
            <td><a href="{{ item.link|safe }}" target="_blank">{{ item.variantId }} <span class="icon" style="color:#5ba2b3"><i class="fas fa-sign-out-alt"></i></span></a></td>
			 <td>{{ item.originalV }} -> {{ item.newV  }} {{ item.position }} </td>
            <td>{{ item.variantDesc }}</td>
            <td>{{ item.score }}</td>
        </tr>
   

 
 {% endfor %}
    </tbody>
</table>

{% endif %}




{% if mainInfo["geneList"]|length >=1  %}
<div class="has-text-centered is-primary margin-top margin-bottom" > 

{% if disDictG|length < 1 %}
<!--<div> No diseases associated to the genes encoding {{ mainInfo["label"] }} with a score > 0.2 found in Disgenet </div>-->
{% else %}
<br />
<h2 class="title">Diseases associated to the gene(s) encoding this protein</h2>
<div class="is-size-5"> Diseases associated to the genes encoding {{ mainInfo["label"] }} listed in Disgenet.</div><div> The variant-disease association score is explained <a href="https://www.disgenet.org/dbinfo#section31" target="_blank">here</a>  </div>
{% endif %}
</div>


{% if disDictG|length >= 1 %}


<table id="diseaseTable2" class="table is-striped is-fullwidth">
    <thead>
        <tr>

            <th style="width:20%">Disease</th>
            <th>Description</th>
            <th style="width:8%">Score <span class="icon has-tooltip-left has-tooltip-multiline"
                                 data-tooltip="Scores for gene-disease associations range from 0 to 1, and take into account the number and type of sources (level of curation, model organisms), and the number of publications supporting the association.">
                                <i class="fas fa-question-circle"></i></span></th>
        </tr>
    </thead>
    <tbody>
        
       
{% for item in disDictG %}

        <tr>
		        {% if item.diseaseId != "" %}
            <td><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel }}</a></td>
        {% else %}
                   <td>{{ item.diseaseLabel }}</td>
          {% endif %}

            <td>{% if item.diseaseDesc|length > 200 %}{{ item.diseaseDesc|truncate(200,False) }}{% else %}{{ item.diseaseDesc }}{% endif %}</td>
            <td>{{ item.score }}</td>
        </tr>
   

 
 {% endfor %}
    </tbody>
</table>

{% endif %}





{% endif %}





</section>







{% endblock content %}



{% block comp_script %}

<script>


 $('.with-loader').on('click', function(){
       document.getElementById("loader").style.display = "block";
    });

$(window).bind("pageshow", function(event) {
    document.getElementById("loader").style.display = "none";
});
</script>

<script>
$( document ).ready(function() {
    $('#diseaseTable').dynatable({
  features: {
    paginate: true,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
    }
    });

    $('#variantTable').dynatable({
  features: {
    paginate: true,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
    }
    });
	
	   $('#diseaseTable2').dynatable({
  features: {
    paginate: true,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
    }
    });


});

</script>
{% endblock %}