{% extends "layout.jinja2" %}


{% block title %}Amypdb - Protein - {{name}} {% endblock %}

{% block more_scripts %}


<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-sankey.min.js"></script> 
<script src="{{request.static_url('amypdb:static/sortable.min.js')}}"></script>

<script src="http://ebi-uniprot.github.io/CDN/protvista/protvista.js"></script>


<script>
function addPubMedLink(mytext) {
mytext = mytext.replace(/(PubMed)(:)([0-9]*)/i, '<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/$3">$1$2$3 <span class="icon" style="color:hsla(210, 15%, 100%, 0.85)"><i class="fas fa-sign-out-alt"></i></span></a>');
return mytext;
}
</script>
{% endblock %}

{% block more_links %}
   <link rel="stylesheet" href="{{request.static_url('amypdb:static/sortable-theme-bootstrap.css')}}" />
   <link href="http://ebi-uniprot.github.io/CDN/protvista/css/main.css" rel="stylesheet"/>
{% endblock %}


{% block content %}


<!--<div class="is-divider" ></div> -->


<style>

#sankey_legend .anychart-credits {
display: none;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #ddd;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}
</style>

  <section class="hero is-medium is-info is-bold">
    <div class="hero-body">
    <div class="container" >
      <div class="columns">
         <div class="column is-three-fifths">
                    <h1 class="title">{{name}}</h1>
        {% set labels = protInfo["altLabel"]|join(", ") %}
        {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
        <p style="line-height: 18px;margin-top: -22px; margin-bottom: 25px">Alternative labels :  {{ labels }}  </p>
       {% set descript = protInfo["description"]|join("") %}

       {% if descript|length > 800 %}

 <script>
var text1 = "{{ descript|truncate(800,True) }}";
var text2 = "{{ descript[796:] }}";

text1 = addPubMedLink(text1);
text2 = addPubMedLink(text2);

</script>
       <input type="checkbox" class="read-more-state" id="post-1" />
        <h2 class="subtitle read-more-wrap"><script>document.write(text1)</script> <span class="read-more-target"><script>document.write(text2)</script></span> (Source : <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) </h2>
        <label for="post-1" class="read-more-trigger"></label>

        {% else %}

 <script>
var text3 = "{{ descript }}";
text3 = addPubMedLink(text3);
</script>
        <h2 class="subtitle"><script>document.write(text3)</script> (Source : <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) </h2>


        {% endif %}

           </div>

           <div class="column has-text-right">

            <span style="border:1px solid hsla(221,100%,100%,0.6);display:inline-block; padding: 5px 10px; margin-bottom: 10px;text-transform:uppercase;background-color:hsla(221, 100%, 100%, 0.3)">Tag number 1</span><br />
            <span style="display:inline-block; padding: 5px 10px; margin-bottom: 5px; text-transform:uppercase;background-color:hsla(221, 100%, 100%, 0.3)">Tag n2</span>
<h2 class="subtitle"><b>10</b> publications<br /> <b>5</b>related diseases</h2>
           </div>

        </div><!-- end columns -->
</div> <!-- end container -->

</div><!-- end hero-body -->

<div class="hero-foot">

    <nav class="tabs is-boxed is-fullwidth">
      <div class="container2" style="margin-left: 8%">
        <ul>
          <li class="is-active heroTab" onclick="openHeroTab(event,'tabAmyloidy')">
            <a>Amyloidy report</a>
          </li>
          <li class="heroTab" onclick="openHeroTab(event,'tabBio')">
            <a>Biological process</a>
          </li>
          <li class="heroTab" onclick="openHeroTab(event,'tabSequence')" >
            <a>Sequence and structure</a>
          </li>
          <li class="heroTab" onclick="openHeroTab(event,'tabPathology')">
            <a>Pathology</a>
          </li>
          <li class="heroTab" onclick="openHeroTab(event,'tabPublication')">
            <a>Publications</a>
          </li>
        </ul>
      </div>
    </nav>


</div>



  </section>

<div id="tabAmyloidy" class="hero-tabContent">
  <section class="section">

<div class="has-text-centered is-info" >
<h2 class="title" style="color:#4e5e6e">Amyloidy report</h2>

<div>There are {{ annotDict|length }} annotations which are related to amyloidy for this protein</div>
<br />




<table id="example" class="sortable-theme-bootstrap" data-sortable>
    <thead>
        <tr>
            <th>Annotation</th>
            <th>Description</th>
            <th>Source</th>
            <th>Based on</th>
        </tr>
    </thead>
    <tbody>
        
       
{% for item in annotDict %}

        <tr>
            <td><span class="tag is-info">{{ item.qualiList }}</span></td>
            <td>{{ item.desc }}</td>
            <td>{{ item.source1 }} / {{ item.sourceList }}</td>
            {% if item.indicator.startswith('http') %}
            <td><a href="{{ item.indicator }}" target="_blank">Link</a> </td>
            {% else %}
            <td>{{ item.indicator|truncate(80,False) }} </td>
            {% endif %}
            <!--<td>{{ item.nbPub }}</td> -->
        </tr>
   

 
 {% endfor %}
    </tbody>
</table>

</div>

</section>

<section class="section">

<div class="has-text-centered is-info" style="margin:30px 0px 0px 0px;">
<h2 class="title" style="color:#4e5e6e">Publications related to amyloidy</h2>
<div>Publications about {{ name }} and  related to amyloidy </div>
</div>

</section>

</div><!-- end of amyloidy-->

<div id="tabBio" class="hero-tabContent" style="display:none">
<section class="section">
 

<div class="has-text-centered is-info" style="margin:30px 0px;">
<h2 class="title" style="color:#4e5e6e">Biological process overview</h2>
<div>Genes, transcripts, isoforms, processed molecules and macromolecular complexes related to {{ name }}</div>
</div>

   <div id="sankey" style="height:300px;width:100%">
   </div>

<div id="sankey_legend"></div>

</section>


<section class="section">


 
<div class="has-text-centered is-info" > 
<h2 class="title" style="color:#4e5e6e">Sequence of processed molecules</h2>
<div>Processed molecules derived from the canonical isoform of {{ name }} </div>
</div>
<div id="viewer" width="100%"></div>
<script>
    window.onload = function() {
        var yourDiv = document.getElementById('viewer');
        var ProtVista = require('ProtVista');
        var instance = new ProtVista({
            el: yourDiv,
            uniprotacc: '{{ itemId }}',

            //These categories will **not** be rendered at all
            exclusions: ['PROTEOMICS','SEQUENCE_INFORMATION','ANTIGEN','VARIATION','STRUCTURAL','MUTAGENESIS','PTM','DOMAINS_AND_SITES','TOPOLOGY']
        });

}


window.onsvgload = function() {
  // all SVG loaded and rendered

var svgWidth = 1000;
var viewer = document.getElementById('viewer')
viewer.getElementsByTagName('svg').item(0).setAttribute("width", svgWidth);
   }


</script>


<section>


</div><!-- end of tabBio -->

<div id="tabSequence" class="hero-tabContent" style="display:none">
<section class="section">
<div class="has-text-centered is-info" > 
<h2 class="title" style="color:#4e5e6e">Sequence feature overview </h2>
<div>Features associated to the sequence of the canonical isoform of {{ name }}  </div>
</div>
<div width="100%" align="center" style="margin-top: 40px;">
<div id="viewerFull" width="100%"></div>
<script>
    window.onload = function() {
        var viewerFull = document.getElementById('viewerFull');
        var ProtVista = require('ProtVista');
        var instance = new ProtVista({
            el: viewerFull,
            uniprotacc: '{{ itemId }}',

            //These categories will **not** be rendered at all
          
        });

}

</script>
</div>
</section>


<section class="section">
<div class="has-text-centered is-info" > 
<h2 class="title" style="color:#4e5e6e">Isoforms</h2>
<div> {{ name }}  </div>
</div>
<div width="100%" align="center" style="margin-top: 40px;">
</div>
</section>





</div><!-- end of tabSequence -->

<div id="tabPathology" class="hero-tabContent" style="display:none">
</div><!-- end of tabPath -->

<div id="tabPublication" class="hero-tabContent" style="display:none">
</div><!-- end of tabPubli -->



{% endblock content %}

{% block comp_script %}
<script>



// create a chart and set the data


var jsond = {{ data|tojson|safe }};
 

var keyCount  = Object.keys(jsond).length;

if (keyCount < 6) {
  document.getElementById("sankey").style.height = "100px";
} else if ((keyCount >=6) && (keyCount < 12 )) {
 document.getElementById("sankey").style.height = "200px";
} else if ((keyCount >=12) &&  (keyCount < 24 )) {
  document.getElementById("sankey").style.height = "400px";
} else if ((keyCount >=24) && (keyCount < 40 )) {
 document.getElementById("sankey").style.height = "600px";
} else if ((keyCount >= 40) && (keyCount < 50 )) {
document.getElementById("sankey").style.height = "800px";
} else {
 document.getElementById("sankey").style.height = "1200px";
} 

var chart = anychart.sankey(jsond);
//https://playground.anychart.com/Uu4y1dZt/0
var nodeColors = {{  colors|tojson|safe }}




// styling 
chart.curveFactor(0.3);
chart.nodeWidth("45%");
chart.nodePadding(16);

var legend = anychart.standalones.legend();
legend.container("sankey_legend");
// push legend items to the array
var legend_items = {{ legend|tojson|safe }}

// add items to the legend
legend.items(legend_items);
legend.draw();

//configure the visual settings of nodes
//chart.node().normal().fill("#64b5f6 0.5");
chart.node().fill(function() {
    return nodeColors[this.name] || this.sourceColor;
});
//chart.node().hovered().fill(anychart.color.darken("#64b5f6"));
chart.node().hovered().fill(function() {
    return anychart.color.darken(nodeColors[this.name]) || anychart.color.darken(this.sourceColor);
});
chart.node().normal().stroke("#949899", 1);

// configure the visual settings of flows
//chart.flow().normal().fill("#ffa000 0.4");
chart.flow().hovered().fill(anychart.color.darken("#6f8295"));
chart.flow().tooltip().enabled(false);
//chart.flow().hovered().stroke("#455a64");

// configure the visual settings of dropoffs
chart.dropoff().normal().fill(
  {keys: ["#fff 0.7", "#fff 0.7"], angle: 90}
);
chart.dropoff().hovered().stroke("#fff");
chart.dropoff().stroke("#fff");
//chart.dropoff().hovered().tooltip.enabled(false);
chart.node().labels().useHtml(true);
chart.node().labels().width(100);
chart.node().labels().wordWrap("break-word");
chart.node().labels().wordBreak("normal");
chart.node().labels().format(
"<div style='color: white;font-weight:bold;'>{{ '{%name}' }}</div>"
);

// set the container id
chart.container("sankey");
chart.draw();





function openHeroTab(evt, tabName) {
  // Declare all variables
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("hero-tabContent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("heroTab");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace("is-active", "");
  }


  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " is-active";
}


</script>










{% endblock %}

