{% extends "layout.jinja2" %}


{% block title %}Amypdb - Protein - {{ mainInfo["label"] }} {% endblock %}

{% block more_scripts %}

<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>



<script>
function addPubMedLink(mytext) {
mytext = mytext.replace(/(PubMed)(:)([0-9]*)/gi, '<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/$3">$1$2$3 <span class="icon" style="color:hsla(210, 15%, 100%, 0.85)"><i class="fas fa-sign-out-alt"></i></span></a>');
return mytext;
}
</script>
{% endblock %}

{% block more_links %}

    <link href="{{request.static_url('amypdb:static/mystyles_bluegreen.css', _scheme='https')}}" rel="stylesheet">
{% endblock %}


{% block content %}


<!--<div class="is-divider" ></div> -->

  <section class="hero is-primary is-bold">
     <div class="horizontal-margin" >
    <div class="hero-body"> 
      <div class="columns">
         <div class="column is-three-quarters" >
        <h1 class="title" style="margin-top: 20px;">PROTEIN<br />{{ mainInfo["label"] }}</h1>
        {% set labels = mainInfo["altList"] %}
        {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
        <p class="alt_labels">Alternative labels :  {{ labels }}  </p>
       {% set descript = mainInfo["description"] %}

       {% if descript|length > 800 %}

 <script>
var text1 = "{{ descript|truncate(800,True) }}";
var text2 = "{{ descript[796:] }}";

text1 = addPubMedLink(text1);
text2 = addPubMedLink(text2);

</script>
       <input type="checkbox" class="read-more-state" id="post-1" />
        <h2 class="subtitle read-more-wrap"><script>document.write(text1)</script> <span class="read-more-target"><script>document.write(text2)</script></span> (Source : <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) </h2>
        <label for="post-1" class="read-more-trigger"></label>

        {% else %}

 <script>
var text3 = "{{ descript }}";
text3 = addPubMedLink(text3);
</script>
        <h2 class="subtitle"><script>document.write(text3)</script> (Source : <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) </h2>


        {% endif %}

           </div>

           <div class="column has-text-right">
           <h2 class="subtitle" style="margin-top: 20px;margin-bottom:40px"><b>Organism : </b> {{ mainInfo["organism"] }} </h2>
           {% set tags = mainInfo["qualiList"].split("|") %}
            {% for tag in tags %}
			<a href="{{ request.route_url(route_name='protein_amy', itemId=itemId) }}#amy">
            <span class="hero_tag" >{{ tag }}</span><br />
			</a>
             {% endfor %}     
           </div>

        </div><!-- end columns -->


</div><!-- end hero-body -->

<div class="hero-foot">
<div style="margin-left: 2rem">
    <nav class="tabs is-boxed ">

        <ul>
		          <li class="heroTab" >
            <a href="{{ request.route_url(route_name='protein_seq', itemId=itemId) }}#seq" class="with-loader">Isoforms and variants</a>
          </li>
   
          <li class="heroTab" >
            <a href="{{ request.route_url(route_name='protein_bio', itemId=itemId) }}#bio" class="with-loader">Genes and transcripts</a>
          </li>

          <li class="heroTab">
            <a href="{{ request.route_url(route_name='protein_patho', itemId=itemId) }}#patho" class="with-loader">Related diseases</a>
          </li>
          <li class="heroTab" >
            <a href="{{ request.route_url(route_name='protein_pub', itemId=itemId) }}#pub" class="with-loader">Publications</a>
          </li>
		         <li class="is-active heroTab" id="amy">
            <a>Annotation report</a>
          </li>
        </ul>

    </nav>
</div>

</div>

</div> <!-- end horizontal-margin-->

  </section>
  
  <div id="loader" style="display:none;position: relative;top:40px;width:100%;z-index:999999"><center><div class="icon is-large"  style="font-size: 20px;color:#01788d"><i class="fas fa-spinner fa-spin fa-3x"></i></div></center></div>


  <section class="section">

<div class="has-text-centered is-primary margin-bottom" >
<h2 class="title" >Annotation report</h2>
<div class="is-size-5">{{ annotDict|length }} annotation{% if annotDict|length > 1 %}s{% endif %} related to amyloidy for this protein</div>
</div>




<table id="annotTable" class="table is-striped is-fullwidth">
    <thead>
        <tr>
       <th>Tag</th>
            <th style="width:55%">Description</th>
            <th>Source</th>
            <th>Based on</th>     
        </tr>
    </thead>
    <tbody>
        
       
{% for item in annotDict %}

        <tr>
                 <td><span class="tag is-primary">{{ item.qualiLabel }}</span></td>
            <td>{{ item.desc }}</td>
            <td>{{ item.source1 }} / {{ item.sourceList }}</td>
            {% if item.indicator.startswith('http') %}
            {% set url = item.indicator.split('/') %}
            <td><a href="{{ item.indicator }}">{{ url[-1] }}</a></td>
            {% else %}
            <td>{{ item.indicator|truncate(80,False) }} </td>
       
            {% endif %}
            <!--<td>{{ item.nbPub }}</td> -->
        </tr>
   

 
 {% endfor %}
    </tbody>
</table>



</section>

<!--
<section class="section">

<div class="has-text-centered is-primary margin-top" >
<h2 class="title greyblue" >Publications related to amyloidy</h2>
<div>Publications about {{ mainInfo["label"] }} and  related to amyloidy </div>
</div>

</section>
-->




{% endblock content %}

{% block comp_script %}
<script>


 $('.with-loader').on('click', function(){
       document.getElementById("loader").style.display = "block";
    });

$(window).bind("pageshow", function(event) {
    document.getElementById("loader").style.display = "none";
});

 
$( document ).ready(function() {
    $('#annotTable').dynatable({
  features: {
    paginate: true,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
    }
    });


});

</script>
{% endblock %}

