{% extends "layout.jinja2" %}


        {% block title %}Amypdb - Search Results{% endblock %}


        {% block more_scripts %}
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'> </script>

        {% endblock  %}


        {% block more_links %}
        <!--  <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" /> -->
<link href="{{request.static_url('amypdb:static/mystyles_purple.css', _scheme='https')}}" rel="stylesheet">
		 <style>
.hero is-boxed li.is-active a, .hero is-boxed li.is-active a:hover {
    background-color: #fff;
    border-color: #fff;
    border-bottom-color: rgb(255, 255, 255);
    color: #5c428a;
}
</style>

{% endblock %}

{% block content %}


<section class="hero is-primary is-bold">
    <div class="horizontal-margin">
    <div class="hero-body">

        <div class="columns">
            <div class="column is-three-fifths">
			<br /><br />
                <h1 class="title">Results for "{{ search_item }}"</h1>
                {% if resultGene|length<1 and resultProtein|length<1 and resultDisease|length<1 %}
                <h2 class="subtitle">No results found
                    <br/>
                    Try another search or check one of the suggestions below
                </h2>
                {% endif %}
             <br />
            </div>
            <div class="column has-text-right">
            </div>
        </div><!-- end columns -->


    </div><!-- end hero-body -->
	
	 {% if resultGene|length<1 and resultProtein|length<1 and resultDisease|length<1 %}
	 <!-- pas de tab -->
	 {% else %}
	 
	<div class="hero-foot">

  <div style="margin-left: 2rem">
    <nav class="tabs is-boxed ">

        <ul>
		 {% if resultProtein|length > 0 %}
           <li class="heroTab is-active"><a href="#" onclick="openTab(event,'proteins')">{{ resultProtein|length }} protein{% if resultProtein|length > 1 %}s{% endif %} </a></li>
		  {% endif %}
		   {% if resultGene|length > 0 and resultProtein|length > 0 %}
		   <li class="heroTab" ><a href="#" onclick="openTab(event,'genes')">
                {{ resultGene|length }} gene{% if resultGene|length > 1 %}s{% endif %}
				</a>
			</li>
           {% endif %}
		   {% if resultGene|length > 0 and resultProtein|length < 1 %}
		   <li class="heroTab is-active"><a href="#" onclick="openTab(event,'genes')">
                {{ resultGene|length }} gene{% if resultGene|length > 1 %}s{% endif %}
				</a>
			</li>
           {% endif %}
		 {% if resultDisease|length > 0  and (resultProtein|length > 0 or resultGene|length > 0 ) %}
            <li class="heroTab" ><a href="#" onclick="openTab(event,'diseases')">
			{{ resultDisease|length }} disease{% if resultDisease|length > 1 %}s{% endif %}
			</a>
			</li>
         {% endif %}
		 {% if resultDisease|length > 0  and resultProtein|length < 1 and resultGene|length < 1 %}
            <li class="heroTab is-active"><a href="#" onclick="openTab(event,'diseases')">
			{{ resultDisease|length }} disease{% if resultDisease|length > 1 %}s{% endif %}
			</a>
			</li>
         {% endif %}

        </ul>

    </nav>
</div>
</div><!-- end hero-foot -->
</div>
{% endif %}

</section>


{% if resultGene|length < 1 and resultProtein|length < 1 and resultDisease|length <1 %}

<section class="section">

    <div class="has-text-centered margin-bottom">
        <h2 class="title">Why not check one of those suggestions ?</h2>
        <div>It might not be what you were looking for in the first place, but it might be interesting anyway...</div>
    </div>

    <div align="center" style="width:50%;margin:auto">

        <ul class="has-text-centered">
            {% for item in suggestions %}
            <li>
                <a href="{{ request.route_url(route_name='protein_seq', itemId=item.entityId) }}">{{ item.entityLabel }}
                    ({{ item.orgLabel }})
                </a>
            </li>
            {% endfor %}
        </ul>


    </div><!-- end center-->

</div> <!-- end hmargin -->

</section>

        {% else %}

        {% if resultProtein|length > 0 %}
<section class="section for-display" id="proteins" style="display:block">
<div class="has-text-centered margin-bottom">
    <h2 class="title">Proteins</h2>
</div>


<table id="proteinTable" class="table is-striped is-fullwidth">
    <thead>
        
        <th>Protein</th>
        <th>Description</th>
        <th style="width: 150px">Organism</th>
        <th>Tag</th>
		<th style="width: 150px">Uniprot link</th>
    </thead>
    <tbody>

        {% for item in resultProtein %}
        <tr>
            <td><a href="{{ request.route_url(route_name='protein_seq', itemId=item.entityId) }}">{{ item.entityLabel }}</a></td>
            <td>{{ item.description|truncate(140,False) }}</td>
            <td style="width: 100px">{{ item.orgLabel }}</td>
            <td>{% for elt in item.qualifier %}{% if elt != "" %}<span class="tag is-info">{{ elt }}</span>  {% endif %}{% endfor %}
            </td>
			<td>
                <a href="https://www.uniprot.org/uniprot/{{ item.entityId }}" target="_blank">{{ item.entityId }} <span class="icon" style="color:hsl(272, 23%, 50%)"><i class="fas fa-sign-out-alt"></i></span></a>
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>


</section>
        {% endif %}

{% if resultGene|length > 0 %}
        {% if resultProtein|length > 0 %}
		<section class="section for-display" id="genes" style="display:none">
		{% else  %}
		<section class="section for-display" id="genes" style="display:block">
		{% endif %}
<div class="has-text-centered margin-bottom">
    <h2 class="title">Genes</h2>
</div>


<table id="geneTable" class="table is-striped is-fullwidth">
    <thead>
        
        <th>Gene</th>
        <th>Description</th>
		<th style="width:200px">Encodes</th>
        <th style="width:150px">Organism</th>
		<th style="width:200px">Ensembl link</th>
    </thead>
    <tbody>

        {% for item in resultGene %}
        <tr>
           
            <td>{{ item.entityLabel }}</td>
            <td>{{ item.description }}</td>
			{% if item.protId|length > 1 %}
			<td>{% for prot in item.protId %}<a href="{{ request.route_url(route_name='protein_seq', itemId=prot) }}">{{ prot }}</a>,  {% endfor %}</td> 
			{% else %}	
			<td>{% for prot in item.protId %}<a href="{{ request.route_url(route_name='protein_seq', itemId=prot) }}">{{ prot }}</a>{% endfor %}</td>						
			{% endif %}
            <td>{{ item.orgLabel }}</td>
			 <td><a href="https://www.ensembl.org/id/{{ item.entityId }}" target="_blank">{{ item.entityId }} <span class="icon" style="color:hsl(272, 23%, 50%)"><i class="fas fa-sign-out-alt"></i></span></a>
            </td>
			</tr>
        {% endfor %}

    </tbody>
</table>


</section>
        {% endif %}

  {% if resultDisease|length > 0 %}
        {% if resultProtein|length > 0 or  resultGene|length > 0 %}
		<section class="section for-display" id="diseases" style="display:none">
		{% else  %}
		<section class="section for-display" id="genes" style="display:block">
		{% endif %}		


<div class="has-text-centered margin-bottom">
    <h2 class="title">Diseases</h2>
</div>


<table id="diseaseTable" class="table is-striped is-fullwidth">
    <thead>
       
        <th>Disease</th>
        <th>Description</th>
        <th>Tag</th>
		 <th style="width:200px">Mondo link</th>
    </thead>
    <tbody>

        {% for item in resultDisease %}
        <tr>

            <td><a href="{{ request.route_url(route_name='disease', itemId=item.entityId) }}">{{ item.entityLabel }}</a></td>
            <td>{{ item.description|truncate(100,False) }}</td>
            <td>{% for elt in item.qualifier %}{% if elt != "" %}<span class="tag is-info">{{ elt }}</span>  {% endif %}{% endfor %}
            </td>
			<td>
                <a target="_blank" href="https://monarchinitiative.org/disease/{{ item.entityId | replace("_", ":") }}">{{ item.entityId | replace("_", ":") }}  <span class="icon" style="color:hsl(272, 23%, 50%)"><i class="fas fa-sign-out-alt"></i></span></a>
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>


</section>
        {% endif %}


        {% endif %}


        {% endblock content %}

        {% block comp_script %}
<script>

function openTab(evt, tabName) {
  // Declare all variables
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("for-display");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="searchTab" and remove the class "active"
  tablinks = document.getElementsByClassName("heroTab");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace("is-active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.parentNode.className += " is-active";
}



$( document ).ready(function() {

$('#geneTable').dynatable({
features: {
paginate: true,
sort: true,
pushState: true,
search: false,
recordCount: false,
perPageSelect: false
}
});


$('#proteinTable').dynatable({
features: {
paginate: true,
sort: true,
pushState: true,
search: false,
recordCount: false,
perPageSelect: false
}
});

$('#diseaseTable').dynatable({
features: {
paginate: true,
sort: true,
pushState: true,
search: false,
recordCount: false,
perPageSelect: false
}
});
});
</script>
        {% endblock %}

