{% extends "layout.jinja2" %}

{% block title %}Amylome - Home{% endblock %}

{% block more_scripts %}

<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-pie.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-cartesian.min.js"></script>

{% endblock %}

{% block more_links %}
    <link href="{{request.static_url('amypdb:static/mystyles_purple.css', _scheme='https')}}" rel="stylesheet">
{% endblock %}

{% block content %}

  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
<div class="horizontal-margin">
   <div class="columns">
	 <div class="column is-three-quarters">
        <h1 class="title">AMYPdb</h1>
        <h2 class="subtitle">AMYPdb gathers information about genes, proteins and diseases related to amyloid processes. It includes amyloid proteins  but also non-amyloid proteins involved in amyloid formation or playing a part in a amyloidosis or amyloid-related diseases (such as Alzheimer's, Parkinson's or Huntington's disease, for instance)  
          </h2>
      	</div>
	<div class="column">.
	</div>
	</div>
</div>
</div>
  </section>





 <section class="section">
 <div class="tabs">
  <ul>
    <li class="is-active"><a>Amyloid proteins characteristics</a></li>
   </ul>
  </div>


 <div class="columns"> 

 <div class="column">
 <div class="has-text-weight-bold has-text-centered">Distribution of amyloid protein families by CATH category</div>
<br />
 <div id="cath" style="height:360px"></div>

  </div><!-- end of column -->

 <div class="column is-three-fifths">
 <div class="has-text-weight-bold has-text-centered">Average composition in amino acids</div>
  <div id="amino" style="height:400px"></div>


 </div><!-- end of column -->

  </div><!-- end of columns -->




<div class="columns">
   
 <div class="column">
<b>Other features :</b>
</div>
 <div class="column">
Molecular weight : {{ dictAvg["avgMol"] }} 
</div>
 <div class="column">
Isolectric point : {{ dictAvg["avgIso"] }}
</div>
 <div class="column">
Instability index : {{ dictAvg["avgInst"] }}
</div>
 <div class="column">
Aromaticity : {{ dictAvg["avgAro"] }}
</div>


</div><!-- end of columns -->



  </section>

{% endblock content %} 


{% block comp_script %} 

<script>
function openTab(evt, tabName) {
  // Declare all variables
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("content-tab");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("searchTab");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace("is-active", "");
  }

  searchTabInputs = document.getElementsByClassName("searchTabInput");
 for (i=0; i < searchTabInputs.length;i++) {
searchTabInputs[i].value = "";
}

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " is-active";
  

}

function insertLabel(label,eltId) {
document.getElementById(eltId).value = label;
}




// create data
var data2 = anychart.data.set({{ aminoAvg|tojson|safe }});

 // map the data
    var seriesData_1 = data2.mapAs({x: 0, value: 1, fill: "#734c76", stroke: 5, label: 6});
    var seriesData_2 = data2.mapAs({x: 0, value: 2, fill: "#e7e4e7", stroke: 5, label: 6});
// create a chart
    var chart2 = anychart.column();



    // create the first series, set the data and name
    var series1 = chart2.column(seriesData_1);
    series1.name("Average composition of amyloid proteins");

series1.normal().fill("#734c76", 1);
series1.hovered().fill("#734c76", 0.4);
series1.selected().fill("#734c76", 0.8);
series1.normal().stroke("#734c76");
series1.hovered().stroke("#734c76", 2);
series1.selected().stroke("#734c76", 4);


    // create the second series, set the data and name
    var series2 = chart2.column(seriesData_2);
    series2.name("Average composition of proteins in uniprot");

series2.normal().fill("#e7e4e7", 1);
series2.hovered().fill("#e7e4e7", 0.4);
series2.selected().fill("#e7e4e7", 0.8);
series2.normal().stroke("#e7e4e7");
series2.hovered().stroke("#e7e4e7", 2);
series2.selected().stroke("#e7e4e7", 4);

    // set the titles of the axes
    //var xAxis = chart2.xAxis();
    //xAxis.title("Amino acid");
    var yAxis = chart2.yAxis();
    yAxis.title("Percent");

    // set the container id
    chart2.container("amino");

    // initiate drawing the chart
    chart2.draw();






// create data
var data = {{ dictCath|tojson|safe }};


    //pre process data points, to define indexes groups and set color from palette
    var groupsPalette = ['#493e74', '#734c76','#571e38', '#7a7297'];
    var dataPointsCount = data.length;
    var groupsMap = {};
    var groupsIndex = 0;
    var explodedGroupName;

    for (var i = 0; i < dataPointsCount; i++) {
        var point = data[i];
        var groupName = point['group'];
        var group = groupsMap[groupName];

        if (!group) {
            group = {};
            group['index'] = groupsIndex;
            group['sum'] = 0;
            group['palette'] = anychart.palettes.distinctColors(anychart.color.singleHueProgression(groupsPalette[groupsIndex], dataPointsCount));
            group['lastPointIndex'] = 0;
            group['indexes'] = [];
            groupsMap[groupName] = group;
            groupsIndex++;
        }
        group['lastPointIndex']++;
        group['sum'] += point['value'];
        var groupPalette = group['palette'];
        var lastPointIndex = group['lastPointIndex'];
        var groupIndexes = group['indexes'];
        groupIndexes.push(i);

        point['fill'] = groupPalette.itemAt(dataPointsCount-lastPointIndex);
        point['stroke'] = groupPalette.itemAt(dataPointsCount-lastPointIndex);
    }

    // create pie chart with passed data
    var chart = anychart.pie(data);

    // set chart title text settings
    chart.interactivity('single')
            //disable chart legend
            .legend(false)
            //set chart radius
            .radius('50%')
            .labels(true)
            // create empty area in pie chart
            .innerRadius('55%');

    createChartLabel(chart, 0, 'left-bottom','Alpha Beta');
    createChartLabel(chart, 1, 'left-top','Few Secondary Structures');
    createChartLabel(chart, 2, 'right-top','Mainly Alpha');
    createChartLabel(chart, 3, 'right-bottom','Mainly Beta');

    // set container id for the chart
    chart.container('cath');
    // initiate chart drawing
    chart.draw();

    chart.listen('pointMouseOver', function (evt) {
        var pointIndex = evt.pointIndex;
        var groupName = chart.data().get(pointIndex, 'group');
        var group = groupsMap[groupName];
        var groupIndexes = group['indexes'];

        chart.unhover();
        chart.hover(groupIndexes);
    });

    chart.listen('pointMouseOut', function () {
        chart.unhover();
    });

    function createChartLabel(chart, index, anchor, groupName) {
        var label = chart.label(index);
        label.position('center')
                .anchor(anchor)
                .offsetY(10)
                .offsetX(10)
                .hAlign('center')
                .useHtml(true)
                .text('<span style="font-size: 9px; font-weight: bold">' +
                        groupName.toUpperCase() + '</span>');

        label.listen('mouseOver', function () {
            document.body.style.cursor = 'pointer';
            var group = groupsMap[groupName];
            var groupIndexes = group['indexes'];

            chart.unhover();
            chart.hover(groupIndexes);
        });

        label.listen('mouseOut', function () {
            document.body.style.cursor = '';
            chart.unhover();
        });

        label.listen('mouseDown', function () {
            var group = groupsMap[groupName];

            if (explodedGroupName === groupName) {
                chart.unselect();
                explodedGroupName = '';
            } else {
                var groupIndexes = group['indexes'];
                explodedGroupName = groupName;
                chart.select(false);
                chart.select(groupIndexes, true);
            }
        });
    }




</script>

{% endblock comp_script %} 

