{% extends "layout.jinja2" %}
 {% block title %}Amylome - Home{% endblock %}

{% block more_scripts %}
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-cartesian.min.js"> </script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-exports.min.js"> </script>

<script src="{{request.static_url('amypdb:static/cytoscape.min.js', _scheme='https')}}"> </script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'> </script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'> </script>
{% endblock %}

{% block more_links %}
<link href="{{request.static_url('amypdb:static/mystyles_blue.css', _scheme='https')}}" rel="stylesheet">
<link href="{{request.static_url('amypdb:static/cystoscype_stylecheet.css', _scheme='https')}}" rel="stylesheet">

{% endblock %}

{% block content %}

    <section class="hero is-medium is-primary is-bold"> <!-- header check if same color as diseases pages -->
        <div class="horizontal-margin">
            <div class="hero-body">
                <div class="columns">
                    <div class="column is-three-quarters">
                        <h1 class="title">AMYPdb</h1>
                        <h2 class="subtitle">Search potential of amyloïd aggregation in protein variant
                        </h2>
                    </div>
                    <div class="column">.
                    </div>
                </div>
            </div>
            <div class="hero-foot">
                <div style="margin-left: 2rem">
                    <nav class="tabs is-boxed ">

                        <ul>
                            <li class="heroTab" id="amy">
                                <a href="{{ request.route_url(route_name='variant', itemId=ItemID) }}">Wild type protein</a>
                            </li>
                            <li class="is-active heroTab">
                                <a>
                                    Known variants
                                </a>
                            </li>
                            <li class="heroTab">
                                <a href="{{ request.route_url(route_name='variant_new', itemId=ItemID) }}">
                                    Create a new variant
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>


    <!-- here recap table of known variant info -->
    <section class="section">
        <div class="columns">
            <div class="column">
                <div class="tabs">
                    <ul>
                        <li class="is-active">
                            <a>All information on known pathogenic variant <div class="icon has-tooltip-right has-tooltip-multiline" data-tooltip="
    only variant with a DisGeNET score > 0.2 are displayed." ><i class="fas fa-question-circle"> </i></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="container  is-fluid has-background-light">
                    {% if var_info != None %}

                    <div class="container  is-fluid has-background-light">
                        <div class="smallmarg is-fluid ">
                            <br/>
                            <table id="vartable" class="table is-striped is-fullwidth">
                                <thead>
                                    <th>Variant ID </th>
                                    <th>Disease</th>
                                    <th>Disease ID</th>
                                    <th>DisGeNET Score</th>
                                </thead>
                                {% for item in var_info %}
                                <tr>
                                    <td>
                                        <a href="{{item.link}}">
                                            {{ item.variantId }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="{{ request.route_url(route_name='disease',itemId=item.disId) }}">
                                            {{ item.disLabel}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://monarchinitiative.org/disease/{{item.disId}}">
                                            {{ item.disId}}
                                        </a>
                                    </td>
                                    <td>
                                        <p>
                                            {{item.score}}
                                        </p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            <br/>
                        </div>
                    </div>
                    {% else %}<p> No result found </p>{% endif %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block comp_script %}

    <script>
        function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("for-display");
        for (i = 0; i< tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("searchTab");
        for (i = 0; i< tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace("is-active", "");
        }

        searchTabInputs = document.getElementsByClassName("searchTabInput");
        for (i=0; i< searchTabInputs.length;i++) {
        searchTabInputs[i].value = "";
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " is-active";

        }

        function insertLabel(label,eltId) {
        document.getElementById(eltId).value = label;
        }
    </script>
    <script>
        $( document ).ready(function() {

        $('#vartable').dynatable({
        features: {
        paginate: true,
        sort: true,
        pushState: true,
        search: false,
        recordCount: false,
        perPageSelect: false
        }
        });
        });
    </script>
{% endblock %}