{% extends "layout.jinja2" %}
        {% block title %}Amylome - Home{% endblock %}

        {% block more_scripts %}
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-cartesian.min.js"> </script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-exports.min.js"> </script>

<script src="{{request.static_url('amypdb:static/sequence-viewer.min.js', _scheme='https')}}"> </script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'> </script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'> </script>

<script src="https://unpkg.com/seqviz"> </script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.3/runtime.min.js"> </script>


        {% endblock %}

        {% block more_links %}
<link href="{{request.static_url('amypdb:static/mystyles_blue.css', _scheme='https')}}" rel="stylesheet">
<link href="{{request.static_url('amypdb:static/cystoscype_stylecheet.css', _scheme='https')}}" rel="stylesheet">

    {% endblock %}

    {% block content %}


    <section class="hero is-medium is-primary is-bold"> <!-- header check if same color as diseases pages -->
        <div class="horizontal-margin">
            <div class="hero-body">
                <div class="columns">
                    <div class="column is-three-quarters">
                        <h1 class="title">AMYPdb</h1>
                        <h2 class="subtitle">Search potential of amyloïd aggregation in protein variant
                        </h2>
                    </div>
                    <div class="column">.
                    </div>
                </div>
            </div>
            <div class="hero-foot">
                <div style="margin-left: 2rem">
                    <nav class="tabs is-boxed ">

                        <ul>
                            <li class="heroTab" id="amy">
                                <a href="{{ request.route_url(route_name='variant', itemId=ItemID) }}">Wild type protein</a>
                            </li>
                            <li class=" heroTab">
                                <a href="{{ request.route_url(route_name='variant_search', itemId=ItemID) }}">
                                    Known variants
                                </a>
                            </li>
                            <li class="is-active heroTab">
                                <a href="{{ request.route_url(route_name='variant_new', itemId=ItemID) }}">
                                    Create a new variant
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- here body of page subdivsed in three part-->
    <section class="section">

        <div class="columns">
            <div class="column">
                <div class="tabs">
                    <ul>
                        <li class="is-active">
                            <a> Create your mutation
                                <div data-tooltip=" choose a type to access to the corresponding mutation. You can do multiple mutation but only of the same type"
                                     class="icon has-tooltip-right">
                                </div>
                                <i class="fas fa-question-circle"> </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container has-background-light">
            <div class="smallmarg  ">
                <div class="container has-text-centered" id="displaying" >
                    <div class="control">
                        <center>
                        <label class="radio">
                            <input type="radio" name="answer" value="Substitution"/>
                            Substitution
                        </label>
                        <label class="radio">
                            <input type="radio" name="answer" value="Deletion/Insertion"/>
                            Deletion/Insertion
                        </label>
                        <label class="radio">
                            <input type="radio" name="answer" value="Deletion"/>
                            Deletion
                        </label>
                        <label class="radio">
                            <input type="radio" name="answer" value="Insertion"/>
                            Insertion
                        </label>
                        </center>
                    </div>
                    <div class="button is-link is-light" onclick="linkStuffDoer()">
                        Submit
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
            <div class="smallmarg is-fluid ">
                    <div class="container  has-background-white">
                        <form action ="{{ request.route_url(route_name='variant_metamyl', itemId=ItemID) }}"  id ="AA_modifier" name="form_modif" >
                            <input type="submit" style="display:none" />

                        </form>
                        <div class="container" id ="button_modifier" style="display:none">
                            <div class='columns is-centered'>
                                      <div class='column has-text-centered'>
                                        <a class= 'button is-primary is-rounded' onclick='linkStuffDoer()'> + </a>
                                      </div>
                                      <div class='is-divider-vertical' data-content='OR'> </div>
                                      <div class='column has-text-centered'>
                                        <div class='button is-link is-light' onclick='search_metamyl()'>Submit</div>
                                      </div>
                                </div>
                        </div>
                    </div>
            </div>
    </section>

    <section class="section">
        <div class="columns">
            <div class="column">
                <div class="tabs">
                    <ul>
                        <li class="is-active">
                            <a>Sequence Viewer of Wild type
                                <div data-tooltip="seqviZ viewer  "
                                     class="icon has-tooltip-right">
                                </div>
                                <i class="fas fa-question-circle"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div id="sequence-viewer" style="width: 100%;height: 600px;">
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        var test="{{seq}}"
        window.seqviz.Viewer("sequence-viewer", {
        name: "L09136",
        seq: test,
        style: { height: "100vh", width: "98vw" },
        viewer: "linear",
        showComplement: false,
        })
        .render();
        });
    </script>



    {% endblock %}

    {% block comp_script %}

        <script>
            function openTab(evt, tabName) {
            // Declare all variables
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("for-display");
            for (i = 0; i< tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("searchTab");
            for (i = 0; i< tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace("is-active", "");
            }

            searchTabInputs = document.getElementsByClassName("searchTabInput");
            for (i=0; i< searchTabInputs.length;i++) {
            searchTabInputs[i].value = "";
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " is-active";

            }

            function insertLabel(label,eltId) {
            document.getElementById(eltId).value = label;
            }
        </script>
    <script>
        function subAA(){
            $("#displaying").hide();
            var AA_list ="<option value='A'>A</option>"
                        +"<option value='C'>C</option>"
                         +"<option value='D'>D</option>"
                         +"<option value='E'>E</option>"
                         +"<option value='F'>F</option>"
                         +"<option value='G'>G</option>"
                         +"<option value='H'>H</option>"
                         +"<option value='I'>I</option>"
                         +"<option value='K'>K</option>"
                         +"<option value='L'>L</option>"
                         +"<option value='M'>M</option>"
                         +"<option value='N'>N</option>"
                         +"<option value='P'>P</option>"
                         +"<option value='Q'>Q</option>"
                         +"<option value='R'>R</option>"
                         +"<option value='S'>S</option>"
                         +"<option value='T'>T</option>"
                         +"<option value='V'>V</option>"
                         +"<option value='W'>W</option>"
                         +"<option value='Y'>Y</option>";

            var AA_sub_field_A ="<div class='control' >"
                                        +"<div class='select' >"
                                            +"<select name='sub_AA_select_A' id='after_AA' >"
                                                + AA_list
                                            +"</select>"
                                        +"</div>"
                                +"</div>";

            var AA_sub_field_B ="<div class='field has-addons has-addons-centered' >"
                                    +"<label class='label'>AA to replace : </label>"
                                    +"<div class='control' >"
                                        +"<div class='select'>"
                                            +"<select name='sub_AA_select_B' id='before_AA' >"
                                                + AA_list
                                            +"</select>"
                                        +"</div>"
                                    +"</div>"
                                    +"<label class='label'>Replace by : </label>"
                                    +AA_sub_field_A
                                    +"<input class='input searchTabInput' type='text' placeholder='Position of the substitution' name='sub_AA_pos' id='pos_AA_sub' style='width:100%'> </input>"
                                +"</div>"
                                +"<p class='help is-info'>if the indicated AA to replace doest not match with the AA at the indicated position it will throw a error</p>" ;


            $("#AA_modifier").append(AA_sub_field_B);
            $("#button_modifier").show();
        }
    </script>
    <script>
        function delAA(){
        $("#displaying").hide();
        var AA_del_field="<label class='label'>Deletion  </label>"
                        +"<div class='field has-addons has-addons-centered' >"
                                    +"<input class='input searchTabInput' type='number' placeholder='position of start of deletion' name='del_pos_start' id='pos_AA_start_del'  > </input>"
                                    +"<input class='input searchTabInput' type='number' placeholder=' position of end of deletion' name='del_pos_end' id='pos_AA_end_pos_del' > </input>"
                        +"</div>"
                        +"<p class='help is-info'>if multiple : start by the deletion closest to the end, finish by the closest to the start. Or you may not obtain the desired results</p>";

        $("#AA_modifier").append(AA_del_field);
        $("#button_modifier").show();
        }
    </script>
    <script>
        function inAA(){
        $("#displaying").hide();
        var AA_in_field="<label class='label'>Insertion  </label>"
                                +"<div class='field has-addons has-addons-centered' >"
                                    +"<label class='label'>Between &nbsp;</label>"
                                    +"<input class='input searchTabInput' type='number' placeholder='position of start of deletion' name='in_pos_start' id='pos_AA_start_in' > </input>"
                                    +"<label class='label'>and &nbsp;</label>"
                                    +"<input class='input searchTabInput' type='number' placeholder=' position of end of deletion' name='in_pos_end' id='pos_AA_end_pos_in' > </input>"
                                    +"<input class='input searchTabInput' type='text' placeholder=' sequence of the insertion' name='in_seq_in' id='pos_AA_end_pos_in' > </input>"
                                +"</div>";
        $("#AA_modifier").append(AA_in_field);
        $("#button_modifier").show();
        }
    </script>
    <script>
        function indelAA(){
        $("#displaying").hide();
        var AA_indel_field="<label class='label'>Insertion</label>"
                                +"<div class='field has-addons has-addons-centered' >"
                                    +"<label class='label'>Between &nbsp;</label>"
                                    +"<input class='input searchTabInput' type='number' placeholder='position of start of deletion' name='indel_pos_start_i' id='pos_AA_start_indel' > </input>"
                                    +"<label class='label'>and &nbsp;</label>"
                                    +"<input class='input searchTabInput' type='number' placeholder=' position of end of deletion' name='indel_pos_end_i' id='pos_AA_end_pos_indel' > </input>"
                                    +"<input class='input searchTabInput' type='text' placeholder=' sequence of the insertion' name='indel_pos_seq' id='seq_indel' > </input>"
                                +"</div>"
                        +"<label class='label'>Deletion</label>"
                        +"<div class='field has-addons has-addons-centered' >"
                                    +"<label class='label'>From <br/> </label>"
                                    +"<input class='input searchTabInput' type='number' placeholder='position of start of deletion' name='indel_pos_start_d' id='pos_AA_start_indel' > </input>"
                                    +"<label class='label'>To <br/></label>"
                                    +"<input class='input searchTabInput' type='number' placeholder=' position of end of deletion' name='indel_pos_end_d' id='pos_AA_end_pos_indel' > </input>"
                        +"</div>"
                        +"<p class='help is-info'>if multiple : start by entering indel closest to the end, finish by the closest to the start. Or you may not obtain the desired results</p>";


        $("#AA_modifier").append(AA_indel_field);
        $("#button_modifier").show();
        }
    </script>
    <script>
        function linkStuffDoer(){
        if (!$("input[name='answer']").is(':checked')) {
           alert('No radio button checked!');
        }
        else {
        var radioValue = $("input[name='answer']:checked"). val();
            if (radioValue == "Substitution"){ subAA() }
            if (radioValue == "Deletion"){ delAA() }
            if (radioValue == "Insertion"){inAA() }
            if (radioValue == "Deletion/Insertion"){ indelAA() }
        }
        }
    </script>
    <script>
        function search_metamyl(){
            $("#AA_modifier").submit();
        }

    </script>

    {% endblock %}