{% extends "layout.jinja2" %}

        {% block title %}Amylome - Home{% endblock %}

        {% block more_scripts %}
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"> </script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-cartesian.min.js"> </script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-exports.min.js"> </script>

<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'> </script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'> </script>

<script src="https://unpkg.com/seqviz"> </script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.3/runtime.min.js"> </script>
        {% endblock %}

        {% block more_links %}
<link href="{{request.static_url('amypdb:static/mystyles_blue.css', _scheme='https')}}" rel="stylesheet">
<link href="{{request.static_url('amypdb:static/cystoscype_stylecheet.css', _scheme='https')}}" rel="stylesheet">

    {% endblock %}


{% block content %}

    <section class="hero is-medium is-primary is-bold"> <!-- header check if same color as diseases pages -->
        <div class="horizontal-margin">
            <div class="hero-body">
                <div class="columns">
                    <div class="column is-three-quarters">
                        <h1 class="title">AMYPdb</h1>
                        <h2 class="subtitle">Search potential of amyloïd aggregation in protein variant
                        </h2>
                    </div>
                    <div class="column">.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- here body of page subdivsed in three part-->
 {% if variant == 'error_del' %}
    <div class="container is-fluid">
        <br/>
        <div class="smallmarg is-fluid ">
            <br/>
            <article class="message is-danger is-medium">
                <div class="message-header">
                    <center>
                        <p>Warning Error</p>
                    </center>
                </div>
                <div class="message-body">
                    You made a error in  <strong>deletion</strong> implementation. There is a missing argument.<br/>
                    Please come back to the previous page and do it again
                </div>
            </article>
            <br/>
        </div>
    </div>
{% elif variant == 'error_in' %}

    <div class="container is-fluid">
        <br/>
        <div class="smallmarg is-fluid ">
            <br/>
            <article class="message is-danger is-medium">
                <div class="message-header">
                    <center>
                        <p>Warning Error</p>
                    </center>
                </div>
                <div class="message-body">
                    You made a error in  <strong>insertion</strong> implementation. There is a missing argument.<br/>
                    Please come back to the previous page and do it again
                </div>
            </article>
            <br/>
        </div>
    </div>

{% elif variant == 'error_indel' %}
    <div class="container is-fluid">
        <br/>
        <div class="smallmarg is-fluid ">
            <br/>
            <article class="message is-danger is-medium">
                <div class="message-header">
                    <center>
                        <p>Warning Error</p>
                    </center>
                </div>
                <div class="message-body">
                    You made a error in  <strong>indel</strong> implementation. There is a missing argument.<br/>
                    Please come back to the previous page and do it again
                </div>
            </article>
            <br/>
        </div>
    </div>
{% elif variant == 'error_sub' %}
    <div class="container is-fluid">
        <br/>
        <div class="smallmarg is-fluid ">
            <br/>
            <article class="message is-danger is-medium">
                <div class="message-header">
                    <center>
                        <p>Warning Error</p>
                    </center>
                </div>
                <div class="message-body">
                    You made a error in  <strong>substitution</strong> implementation. <br/>
                    There is a missing argument or the amino acid signaled as "to replace" doesn't match
                    with the amino acid found in the specified position .<br/>
                    Please come back to the previous page and do it again
                </div>
            </article>
            <br/>
        </div>
    </div>
{% else %}

    <!-- here display of a graph which show the part of the sequence with hight risque of amylogenicity ( mean >0) -->
    <section class="section">
        <div class="columns">
            <div class="column">
                <div class="tabs">
                    <ul>
                        <li class="is-active">
                            <a>Potential amylogenicity
                                <div data-tooltip="you can download the csv or xlsx results by clicking
                                                  on the appropriate button you can also get the full number by passing over the data point "
                                     class="icon has-tooltip-right">
                                </div>
                                <i class="fas fa-question-circle"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="container is-fluid has-background-light">
                    <div class="smallmarg is-fluid ">
                        <button onclick="download()">Download to CSV</button>
                        <div id="container_hsa" style="width: 100%;height: 600px;"> </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- here results of search : diseases linked to all theses symptoms maybe should add partially rigth result ?-->
    <section class="section">
        <div class="columns">
            <div class="column">
                <div class="tabs">
                    <ul>
                        <li class="is-active">
                            <a>Graphique representation of amylogenicity score of each hexapeptide
                                <div class="icon has-tooltip-right"
                                     data-tooltip="you can download the csv results by clicking
                                          on CSV button. You can also get full info on a dot by hovering the dot.
                                          The scroll bar under x axis allow you to zoom on data. ">
                                    <i class="fas fa-question-circle"> </i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="container  is-fluid has-background-light">
                    <div class="smallmarg is-fluid ">
                        <button onclick="csv()"> Download to CSV</button>
                        <div id="container_hexa_score" style="width: 100%;height: 600px;"> </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- here results of search : diseases linked to all theses symptoms maybe should add partially rigth result ?-->
    <section class="section">
        <div class="columns">
            <div class="column">
                <div class="tabs">
                    <ul>
                        <li class="is-active">
                            <a>Table information hotspot
                                <div class="icon has-tooltip-right"
                                     data-tooltip="you can download the csv results by clicking
                                          on CSV button. You can also get full info on a dot by hovering the dot.
                                          The scroll bar under x axis allow you to zoom on data.">
                                    <i class="fas fa-question-circle"> </i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="container  is-fluid has-background-light">
                    <div class="smallmarg is-fluid ">
                        <br/>
                         <table id="main_table" class="table is-striped is-fullwidth">
                            <thead>
                                <th>Protein Length </th>
                                <th>Number of Hotspot </th>
                                <th>Total Area</th>
                                <th>Total Amyloid Area</th>
                            </thead>
                            {% if main_tab|length > 0 %}
                            <tr>
                                <td>
                                    <p>
                                        {{ main_tab.0 }}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ main_tab.1}}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ main_tab[2]}}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ main_tab[3]}}
                                    </p>
                                </td>
                                {% endif %}
                            </tr>
                        </table>
                        <br>
                        <table id="HSTable" class="table is-striped is-fullwidth">
                            <thead>
                                <th>START position </th>
                                <th>END position </th>
                                <th>Max hexapeptide score in Hot Spot</th>
                                <th>Normalised Hot Spot Area</th>
                                <th>Hot Spot Sequence</th>
                            </thead>
                            {% if tab_HS|length > 0 %}
                            {% for item in tab_HS %}
                            <tr>
                                <td>
                                    <p>
                                        {{ item.0 }}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ item.1}}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ item[3]}}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ item[2]}}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ item[4]}}
                                    </p>
                                </td>
                                {% endfor %}
                                {% endif %}
                            </tr>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}

    {% endblock content %}


    {% block comp_script %}

    <script>
        function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("for-display");
        for (i = 0; i< tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("searchTab");
        for (i = 0; i< tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace("is-active", "");
        }

        searchTabInputs = document.getElementsByClassName("searchTabInput");
        for (i=0; i< searchTabInputs.length;i++) {
        searchTabInputs[i].value = "";
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " is-active";

        }

        function insertLabel(label,eltId) {
        document.getElementById(eltId).value = label;
        }
    </script>
    <script>
        $( document ).ready(function() {

        $('#HSTable').dynatable({
        features: {
        paginate: true,
        sort: true,
        pushState: true,
        search: false,
        recordCount: false,
        perPageSelect: false
        }
        });
         $('#main_table').dynatable({
        features: {
        paginate: false,
        sort: true,
        pushState: true,
        search: false,
        recordCount: false,
        perPageSelect: false
        }
        });
        });

    </script>

    <script>
        anychart.onDocumentReady(function () {
        // data

        var data = {{ hsa|safe }};

        // set chart type
        chart = anychart.line(data);

        // set chart title
        chart.title("Normalised Hot Spot Area ");

        // set x axe mode to get rid or gap at beginning and end
        chart.xScale().mode('continuous');

         //"zoomable"
        chart.xScroller(true);

        //set chart y axe title
        chart.yAxis().title('Normalized hot spot area');

        // do point on line
        chart.getSeries(0).markers(true);

        // display a chart
        chart.container("container_hsa").draw();
        });



    </script>
     <script>
        anychart.onDocumentReady(function () {

        // data
        var data = {{ hexa_scores|safe }};

        var seuil = {{ hst }};

        // set chart type
        chart = anychart.line(data);

        // set chart title
        chart.title("Scores of each hexapeptide contained in the protein sequence ");

        chart.yScale().stickToZero(true);

        //set chart y axe title
        chart.yAxis().title('Hexapeptide amylogenicity');

        // set x axe mode to get rid or gap at beginning and end
        chart.xScale().mode('continuous');
        var labels = chart.xAxis().labels();
        labels.rotation(-90);

        //"zoomable"
        chart.xScroller(true);

        // do point on line
        chart.getSeries(0).markers(true);

        // line marker on threesold value
        var marker = chart.lineMarker();
        marker.value(seuil);

        var textMarker = chart.textMarker();
        textMarker.axis(chart.yAxis());
        textMarker.value(seuil);
        textMarker.align("left");
        textMarker.fontSize(12);
        textMarker.fontColor("#212121");
        textMarker.offsetX(5);
        textMarker.text("HST");
        textMarker.anchor("right-center");

        // display a chart
        chart.container("container_hexa_score").draw();
        });

        // save chart data in csv format
        function csv() {
        chart.saveAsCsv();
        };

    </script>
    <script>
    function download() {
    var data = "position,value \n";
    var tableData = {{ hsa|safe }};
    data += tableData.join("\n");
    alert(data);
    $(document.body).append('<a id="download-link" download="data_hsa.csv" href=' + URL.createObjectURL(new Blob([data], {
      type: "text/csv"
    })) + '/>');
    $('#download-link')[0].click();
    $('#download-link').remove();
      }
    </script>


    {% endblock comp_script %}