{% extends "layout.jinja2" %}

        {% block title %}Amylome - Home{% endblock %}

        {% block more_scripts %}
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-cartesian.min.js"> </script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-exports.min.js"> </script>

<script src="{{request.static_url('amypdb:static/cytoscape.min.js', _scheme='https')}}"> </script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'> </script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'> </script>
        {% endblock %}

        {% block more_links %}
<link href="{{request.static_url('amypdb:static/mystyles_blue.css', _scheme='https')}}" rel="stylesheet">
<link href="{{request.static_url('amypdb:static/cystoscype_stylecheet.css', _scheme='https')}}" rel="stylesheet">

    {% endblock %}


    {% block content %}

    <section class="hero is-medium is-primary is-bold"> <!-- header check if same color as diseases pages -->
        <div class="horizontal-margin">
            <div class="hero-body">
                <div class="columns">
                    <div class="column is-three-quarters">
                        <h1 class="title">Hotspot predictions (source: Metamyl) </h1>
                        <h2 class="subtitle">Potential hotspots predicted by Metamyl for the sequence 
						<div class="is-size-6">{{ seq }}</div>
                        </h2>
                    </div>
                    <div class="column">.
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- here body of page subdivsed in three part-->
	
   {% if seq|length < 6 %}
   
      <section class="section">
 <div class="has-text-centered is-primary" align="center"> 
<h2 class="title greyblue">The submitted sequence was too short </h2>
<div class="is-size-5"><br /><br />Your sequence must contain at least 6 amino acid residues </div>
	</section>
   
   {% else %}

    <!-- here display of a graph which show the part of the sequence with hight risque of amylogenicity ( mean >0) -->
    <section class="section">
  		
		<div class="has-text-centered is-primary" align="center"> 
			<h2 class="title greyblue">Metamyl predictions</h2>
			
						<div class="is-size-5">Score for each hexapeptide in the protein sequence</div>
<br \>
					
	    <div class="container  is-fluid has-background-light">
                    <div class="smallmarg is-fluid ">
<br \>
                        <div id="container_hexa_score" style="width: 100%;height: 400px;"> </div>
                        <br />                        <button class="button" onclick="csv()">Download to CSV</button> </br><br \>
                    </div>
                </div>
				
			
			<br /><br />

	  <div class="is-size-5">Normalised hotspot areas (above a threshold set to 0.606) </div>
<br \>
             
                <div class="container is-fluid has-background-light">
                    <div class="smallmarg is-fluid ">
					<br \>
                        <div id="container_hsa" style="width: 100%;height: 300px;"> </div>
						  <br \>
						                        <button class="button" onclick="download()">Download CSV</button>
                        <br \><br \>
                    </div>
                </div>
				
	  <br /><br />
	  
	  <div class="is-size-5">Information about each predicted hotspot</div>
<br />
			{% if main_tab|length > 0 %}
			
			  <div class="container is-fluid has-background-light">
                    <div class="smallmarg is-fluid ">
						<br />
                        <table id="main_table" class="table is-striped is-fullwidth">
                            <thead>
                                <th>Protein Length </th>
                                <th>Number of Hotspot </th>
                                <th>Total Area</th>
                                <th>Total Amyloid Area</th>
                            </thead>

                            <tr>
                                <td>
                                    <p>
                                        {{ main_tab.0 }}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ main_tab.1}}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ main_tab[2]}}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ main_tab[3]}}
                                    </p>
                                </td>
                                
                            </tr>
                        </table>
						</br />

             

					{% if tab_HS|length > 0 %}

                        <table id="HSTable" class="table is-striped is-fullwidth">
						
                            <thead>
                                <th>START position </th>
                                <th>END position </th>
                                <th>Max hexapeptide score in hot spot</th>
                                <th>Hot Spot Area</th>
                                <th>Hot Spot Sequence</th>
                            </thead>
                            
                            {% for item in tab_HS %}
                            <tr>
                                <td>
                                    <p>
                                        {{ item.0 }}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ item.1}}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ item[3]}}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ item[2]}}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ item[4]}}
                                    </p>
                                </td>
                                {% endfor %}
                               
                            </tr>
                        </table>
						<br />
						
			 {% endif %}
			 
			 						</div>
						</div>
						{% endif %}
        </div>
    </section>


	
	
	 {% endif %}

    {% endblock content %}


    {% block comp_script %}


    <script>
        $( document ).ready(function() {

        $('#HSTable').dynatable({
        features: {
        paginate: true,
        sort: true,
        pushState: true,
        search: false,
        recordCount: false,
        perPageSelect: false
        }
        });
        $('#main_table').dynatable({
        features: {
        paginate: false,
        sort: true,
        pushState: true,
        search: false,
        recordCount: false,
        perPageSelect: false
        }
        });
        });
    </script>

<script>
        anychart.onDocumentReady(function () {
        // data

        var data_hsa = {{ hsa|safe }};

        // set chart type
        chart = anychart.line(data_hsa);

        // set chart title
//chart.title("Normalised Hot Spot Area");

        // set x axe mode to get rid or gap at beginning and end
        chart.xScale().mode('continuous');
        //var labels = chart.xAxis().labels();
        //labels.enabled(true);

        //"zoomable"
//chart.xScroller(true);

        //set chart y axe title
        chart.yAxis().title('Normalized hot spot area');

        // do point on line
        //chart.getSeries(0).markers(true);

        // display a chart
        chart.container("container_hsa").draw();
        });

        // save chart data in csv format
        function csv1() {
        chart.saveAsCsv("specific");
        };

</script>

<script>
        anychart.onDocumentReady(function () {

        // data
        var data_hexa = {{ hexa_scores|safe }};

        var seuil = {{ hst }};

        // set chart type
        chart = anychart.line(data_hexa);

        // set chart title
        //chart.title("Scores of each hexapeptide contained in the protein sequence ");

        chart.yScale().stickToZero(true);

        //set chart y axe title
        chart.yAxis().title('Hexapeptide amylogenicity');

        // set x axe mode to get rid or gap at beginning and end
        chart.xScale().mode('continuous');
        var labels = chart.xAxis().labels();
        labels.rotation(-90);

        //"zoomable"
        chart.xScroller(true);

        // do point on line
        chart.getSeries(0).markers(true);

        // line marker on threesold value
        var marker = chart.lineMarker();
        marker.value(seuil);

        var textMarker = chart.textMarker();
        textMarker.axis(chart.yAxis());
        textMarker.value(seuil);
        textMarker.align("left");
        textMarker.fontSize(10);
        textMarker.fontColor("#212121");
        textMarker.offsetX(5);
        textMarker.text("Threshold");
        textMarker.anchor("right-center");

        // display a chart
        chart.container("container_hexa_score").draw();
        });

        // save chart data in csv format
        function csv() {
        chart.saveAsCsv("specific");
        };

        // save chart data in xlsx format
        function xlsx() {
        chart.saveAsXlsx();
        };

</script>
<script>
    function download() {
    var data = "position,value \n";
    var tableData = {{ hsa|safe }};
    data += tableData.join("\n");
    alert(data);
    $(document.body).append('<a id="download-link" download="data_hsa.csv" href=' + URL.createObjectURL(new Blob([data], {
      type: "text/csv"
    })) + '/>');
    $('#download-link')[0].click();
    $('#download-link').remove();
  }
</script>

    {% endblock comp_script %}