
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato');
@import '~bulma-divider';


// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$purple : hsl(252, 30%, 35%);
$purple-light : hsl(296, 27%, 41%);
$purple-dark : hsl(217, 77%, 8%);
$bluegreen : hsl(189, 98%, 28%);
$bluegreen-light : hsl(192, 37%, 53%);
$bluegreen-dark : hsl(189,75%,15%);
$orange : hsl(37, 69%, 47%);
$red : hsl(356, 97%, 45%);
$green : hsl(157, 34%, 40%);
$green-light : hsl(157,31%,57%);
$green-dark: hsl(157,30%,26%);
$blue : hsl(211,81%,28%);
$blue-light : hsl(211,35%,53%);
$blue-dark : hsl(211,35%,22%);
$yellow : hsl(50, 81%, 48%);
$grey-lighter: hsl(300, 4%, 90%);

//$primary: $purple;
//$link: $purple-light;
//$info: $purple-light;
//$dark: $purple-dark;

//$primary : $green;
//$link : $green-light;
//$info : $green-light;
//$dark : $green-dark;

//$primary : $bluegreen;
//$link : $bluegreen-light;
//$info : $bluegreen-light;
//$dark : $bluegreen-dark;

$primary : $blue;
$link : $blue-light;
$info : $blue-light;
$dark : $blue-dark;

$warning: $orange;
$footer-background-color: $grey-lighter;
$light: $grey-lighter;


// Update some of Bulma's component variables
$tabs-border-bottom-width: 3px;
$section-padding: 3rem 3rem !default;
$section-padding-medium: 9rem 3rem !default;
$section-padding-large: 18rem 3rem !default;
$footer-padding: 3rem 3rem 6rem !default;

$column-gap: 1.5rem !default;

$navbar-height : 4rem;

$title-color : $dark;

// Import only what you need from Bulma
@import "~bulma/bulma";

//.hero {
//      &.is-bold {
 //       $gradient-top-left: darken(saturate(adjust-hue($primary, -10deg), 10%), 10%);
 //       $gradient-bottom-right: lighten(saturate(adjust-hue($link, 10deg), 5%), 5%);
 //       background-image: linear-gradient(141deg, $gradient-top-left 0%, $link 71%, $gradient-bottom-right 100%);
//        +mobile {
 //         .navbar-menu {
//            background-image: linear-gradient(141deg, $gradient-top-left 0%, $primary 71%, $gradient-bottom-right 100%);
//            }
//            }}}

